@using Microsoft.AspNetCore.Identity
@using MachinePortal.Areas.Identity.Data
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject SignInManager<MachinePortalUser> SignInManager
@inject UserManager<MachinePortalUser> UserManager
@inject IdentityContext identityContext
@inject IHostingEnvironment hostingEnv
@* Get User Permissions *@
@{
    var area = ViewContext.View.Path.Contains("Identity") ? "Identity" : "MachinePortal";
    var pageName = ViewContext.View.Path;
    var user = await UserManager.GetUserAsync(User);
    var username = "";
    var userphoto = "";
    var userdepartment = "";
    List<string> permissions = new List<string>();
    if (user != null)
    {
        username = user != null ? user.FirstName + " " + user.LastName : "";
        userphoto = user.PhotoPath != null ? user.PhotoPath : @Url.Content("/resources/General/DefaultUser.png");
        permissions = ((from obj in identityContext.UserPermission select obj).Include(p => p.Permission).Where(x => x.UserID == user.Id).ToList()).Select(p => p.Permission.PermissionName).ToList();
        Department department = ((from obj in identityContext.Users select obj).Include(d => d.Department).Where(x => x.Id == user.Id).ToList()).Select(dep => dep.Department).FirstOrDefault();
        userdepartment = department.Name;
    }
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<script>
    function LogoutSubmit() {
        event.preventDefault();
        document.getElementById("BtnLogoutSubmit").click();
    };
</script>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>MachinePortal</title>
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/jquery.mCustomScrollbar.css">
    @*<meta http-equiv="X-UA-Compatible" content="IE=edge" />*@
    <!-- Favicon icon -->
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" href="~/assets/icon/themify-icons/themify-icons.css">
    <!-- glyphicons icon -->
    <link rel="stylesheet" href="~/assets/icon/bootstrap-icons/css/bootstrap-icons.css">
    <!-- Notification.css -->
    <link rel="stylesheet" href="~/assets/pages/notification/notification.css">
    <link rel="stylesheet" href="~/assets/pages/notification/bs4Toast.css">
    <!-- ico font -->
    <link rel="stylesheet" href="~/assets/icon/icofont/css/icofont.css">
</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <h2 style="text-align:center; top:50%; margin-top:-80px; position:relative;">@Localizer["Loading"].Value</h2>
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header" style="background-color:rgb(240,230,20)">
                <div class="navbar-wrapper">
                    <div class="navbar-container container-fluid">
                        <div style="height:80px" class="row">
                            <div class="col-2">
                                <div class="d-inline navbar-logo" style="background-color:rgb(240,230,20)">
                                    <a class="mobile-menu" id="mobile-collapse" href="#!">
                                        <i class="ti-menu"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-8" style="text-align:center">
                                <div class="d-inline-block" style="margin-top:18px; margin-top:-5px;">
                                    <h1 style="font-family:'Beast Machines'; font-size:2rem">Machine Portal</h1>
                                </div>
                            </div>
                            <div class="col-2">
                                <div style="width:218px" class="d-inline nav-right">
                                    <div style="position:relative; padding:1.25rem">
                                        <img class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline" src="~/assets/images/vitesco.svg" style="width:116px; overflow:hidden; margin-top:-23px;" />
                                        <div class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                            @await Html.PartialAsync("_SelectLanguagePartial")
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">@Localizer["User Account"].Value</div>
                                <div class=" ">
                                    <div class="main-menu-header" style="padding-top:0px">
                                        <img class="img-40 img-radius" src="@userphoto" alt="User-Profile-Image">
                                        <div class="user-details">
                                            <span>@username</span>
                                            <span style="font-size:12px;">@user.JobRole</span>
                                            <span id="more-details">@userdepartment<i class="ti-angle-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="main-menu-content">
                                        <ul>
                                            <li class="more-details">
                                                <a asp-area="Identity" asp-page="/Account/Manage/Index"><i class="ti-user"></i>@Localizer["Profile"].Value</a>
                                                <a id="change-password" asp-area="Identity" asp-page="/Account/Manage/ChangePassword"><i class="ti-key"></i>@Localizer["Password"].Value</a>
                                                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm">
                                                    <button id="BtnLogoutSubmit" type="submit" style="display:none"></button>
                                                    <a id="aLogoutSubmit" onclick="LogoutSubmit()" href=""><i class="ti-layout-sidebar-left"></i>@Localizer["Logout"].Value</a>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">@Localizer["User Account"].Value</div>
                                <div class=" ">
                                    <div class="main-menu-content">
                                        <ul class="pcoded-item pcoded-left-item">
                                            <li class=" ">
                                                <a asp-area="Identity" asp-page="/Account/Register">
                                                    <span class="pcoded-micon c-vitesco-green-01"><i class="bi-person-plus"></i></span>
                                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">@Localizer["Register"].Value</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class=" ">
                                    <div class="main-menu-content">
                                        <ul class="pcoded-item pcoded-left-item">
                                            <li class="">
                                                <a asp-area="Identity" asp-page="/Account/Login">
                                                    <span class="pcoded-micon  c-vitesco-green-04"><i class="bi-unlock"></i></span>
                                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">@Localizer["Login"].Value</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            }
                            @if (permissions.Contains("Administration") && permissions != null)
                            {
                                <div style="margin-top:-20px;" class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">@Localizer["Administration"].Value</div>
                                <div class=" ">
                                    <div class="main-menu-content">
                                        <ul class="pcoded-item pcoded-left-item">
                                            @if (permissions.Contains("PageManageUsers") && permissions != null)
                                            {
                                                <li class=" ">
                                                    <a asp-area="Identity" asp-page="/Account/Manage/ManageUsers">
                                                        <span class="pcoded-micon  c-vitesco-red"><i class="ti-settings"></i></span>
                                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">@Localizer["Manage Users"].Value</span>
                                                        <span class="pcoded-mcaret"></span>
                                                    </a>
                                                </li>
                                            }
                                            @if (permissions.Contains("PagePermissions") && permissions != null)
                                            {
                                                <li class=" ">
                                                    <a asp-area="Identity" asp-page="/Account/Manage/Permissions">
                                                        <span class="pcoded-micon  c-vitesco-gray"><i class="ti-briefcase"></i></span>
                                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">@Localizer["Permissions"].Value</span>
                                                        <span class="pcoded-mcaret"></span>
                                                    </a>
                                                </li>
                                            }
                                            @if (permissions.Contains("PageDepartments") && permissions != null)
                                            {
                                                <li class=" ">
                                                    <a asp-area="Identity" asp-page="/Account/Manage/Departments">
                                                        <span class="pcoded-micon  c-vitesco-green-03"><i class="bi-people"></i></span>
                                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">@Localizer["Departments"].Value</span>
                                                        <span class="pcoded-mcaret"></span>
                                                    </a>
                                                </li>
                                            }
                                            @if (permissions.Contains("PageCategories") && permissions != null)
                                            {
                                                <li class=" ">
                                                    <a asp-area="" asp-controller="Categories" asp-action="Index">
                                                        <span class="pcoded-micon  c-vitesco-green-02"><i class="bi-grid"></i></span>
                                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">@Localizer["Categories"].Value</span>
                                                        <span class="pcoded-mcaret"></span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">@Localizer["Main Menu"].Value</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="active">
                                    <a asp-area="" asp-controller="Home" asp-action="Index">
                                        <span class="pcoded-micon  c-vitesco-red"><i class="ti-home"></i></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Home</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                @if (permissions.Contains("PageMachines") && permissions != null)
                                {
                                    <li class=" ">
                                        <a asp-area="" asp-controller="Machines" asp-action="Index">
                                            <span class="pcoded-micon  c-vitesco-gray"><i class="ti-desktop"></i></span>
                                            <span class="pcoded-mtext" data-i18n="nav.dash.main">@Localizer["Machines"].Value</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                }
                                @if (permissions.Contains("PageDevices") && permissions != null)
                                {
                                    <li class=" ">
                                        <a asp-area="" asp-controller="Devices" asp-action="Index">
                                            <span class="pcoded-micon  c-vitesco-green-03"><i class="ti-harddrives"></i></span>
                                            <span class="pcoded-mtext" data-i18n="nav.dash.main">@Localizer["Devices"].Value</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                }
                                @if (permissions.Contains("PageResponsibles") && permissions != null)
                                {
                                    <li class=" ">
                                        <a asp-area="" asp-controller="Responsibles" asp-action="Index">
                                            <span class="pcoded-micon  c-vitesco-green-02"><i class="ti-user"></i></span>
                                            <span class="pcoded-mtext" data-i18n="nav.dash.main">@Localizer["Responsibles"].Value</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                }
                                @if (permissions.Contains("PageHierarchies") && permissions != null)
                                {
                                    <li class=" ">
                                        <a asp-area="" asp-controller="Areas" asp-action="Index">
                                            <span class="pcoded-micon  c-vitesco-green-05"><i class="ti-layout-list-thumb"></i></span>
                                            <span class="pcoded-mtext" data-i18n="nav.dash.main">@Localizer["Hierarchies"].Value</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                }
                            </ul>
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">@Localizer["Info"].Value</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class=" ">
                                    <a asp-area="" asp-controller="Home" asp-action="About">
                                        <span class="pcoded-micon  c-vitesco-blue-01"><i class="ti-info"></i></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">@Localizer["About"].Value</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a asp-area="" asp-controller="Home" asp-action="Contact">
                                        <span class="pcoded-micon c-vitesco-blue-03"><i class="ti-mobile"></i></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">@Localizer["Contact"].Value</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                            <br />
                        </div>
                    </nav>
                    @if (area == "Identity" && pageName.Contains("Login"))
                    {
                        <div style="padding-bottom:60px" class="">
                            <div style="max-width:2560px" class="container-vt body-content">
                                <section style="margin-top:-96px; background-size:cover;" class="login p-fixed d-flex text-center bg-primary common-img-bg">
                                    <br />
                                    <br />
                                    <script src="~/lib/jquery/dist/jquery.min.js"></script>
                                    @RenderBody()
                                    @RenderSection("Scripts", required: false)
                                </section>
                            </div>
                        </div>
                    }
                    else if ((area == "Identity" && !pageName.Contains("Login")) || (area != "Identity" && pageName.Contains("Categories")))
                    {
                        <div style="padding-bottom:60px; background:url(/assets/images/bg.jpg); background-size:cover; min-height:87vh;" class="pcoded-content">
                            <div style="max-width:1650px" class="container body-content">
                                <div style="margin:20px;">
                                    <br />
                                    <br />
                                    <script src="~/lib/jquery/dist/jquery.min.js"></script>
                                    @RenderBody()
                                    @RenderSection("Scripts", required: false)
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div style="padding-bottom:60px" class="pcoded-content">
                            <div style="max-width:1650px" class="container body-content">
                                <div style="margin:40px">
                                    <br />
                                    <br />
                                    <script src="~/lib/jquery/dist/jquery.min.js"></script>
                                    @RenderBody()
                                    @RenderSection("Scripts", required: false)
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div style="position:fixed; padding:10px 20px 0px 0px; text-align:right; vertical-align:middle; bottom:0px; left:0px; width:100%; height:45px; background-color:white; box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);">
        <p>&copy; 2021 - MachinePortal - Vitesco Technologies - Salto Plant</p>
    </div>
    <!-- Warning Section Ends -->
    <partial name="_CookieConsentPartial" />
</body>
</html>

<!-- Required Jquery -->
<script type="text/javascript" src="~/assets/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/assets/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/assets/js/popper.js/popper.min.js"></script>
<script type="text/javascript" src="~/assets/js/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/assets/js/jquery/jquery.mask.js"></script>
<script type="text/javascript" src="~/assets/js/jquery/jquery.mask.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="~/assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="~/assets/js/modernizr/modernizr.js"></script>
<!-- am chart -->
<script src="~/assets/pages/widget/amchart/amcharts.min.js"></script>
<script src="~/assets/pages/widget/amchart/serial.min.js"></script>
<!-- notification js -->
<script type="text/javascript" src="/assets/js/bootstrap-growl.min.js"></script>
<script type="text/javascript" src="/assets/pages/notification/notification.js"></script>
<script type="text/javascript" src="~/assets/pages/notification/bs4-toast.js"></script>
<!-- Todo js -->
<script type="text/javascript" src="~/assets/pages/todo/todo.js "></script>
<!-- Custom js -->
<script type="text/javascript" src="~/assets/pages/dashboard/custom-dashboard.js"></script>
<script type="text/javascript" src="~/assets/js/script.js"></script>
<script type="text/javascript" src="~/assets/js/SmoothScroll.js"></script>
<script type="text/javascript" src="~/assets/js/pcoded.min.js"></script>
<script type="text/javascript" src="~/assets/js/demo-12.js"></script>
<script type="text/javascript" src="~/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>

<script>
    var $window = $(window);
    var nav = $('.fixed-button');
    $window.scroll(function () {
        if ($window.scrollTop() >= 200) {
            nav.addClass('active');
        }
        else {
            nav.removeClass('active');
        }
    });
</script>