@page
@model DepartmentsModel
@{
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(function () {
            $("#formCreate").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: window.location.href + '?handler=Create',
                    data: $('#formCreate').serialize(),
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    success: function () {
                        location = location.href;
                    }
                });
            });

            $("#formEdit").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: window.location.href + '?handler=Edit',
                    data: $('#formEdit').serialize(),
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    success: function () {
                        location = location.href;
                    }
                });
            });

            $("#formRemove").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: window.location.href + '?handler=Remove',
                    data: $('#formRemove').serialize(),
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    success: function () {
                        location = location.href;
                    }
                });
            });

            $("#btnTeste").click(function (event) {
                $.ajax({
                    type: "POST",
                    url: window.location.href + '?handler=Teste',
                    data: "",
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    success: function () {
                        location = location.href;
                    }
                });
            });
        });
    });
</script>

<div class="row justify-content-center">
    <div class="col-8">
        <div class="card fb-card c-vitesco-red">
            <div class="card-header c-vitesco-red">
                <i style="vertical-align:middle" class="bi-people c-vitesco-red"></i>
                <div class="d-inline-block">
                    <h2 style="color:white">Departments</h2>
                </div>
            </div>
            <div class="card-block card-padding">
                <p>
                    <button style="float:right;" class="btn btn-primary" type="button" data-toggle="modal" data-target="#modalCreate">Create New Department</button>
                </p>
                <br />
                <table class="table table-bordered table-vitesco">
                    <br />
                    <thead class="thead-vitesco">
                        <tr>
                            <th width="80%">@Html.DisplayNameFor(model => model.departments[0].Name)</th>
                            <th width="20%">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.departments)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>
                                    <button class="btn btn-primary" type="button" onclick="document.getElementById('editName').value = '@item.Name'; document.getElementById('editID').value = '@item.ID'" data-toggle="modal" data-target="#modalEdit">Edit</button>
                                    <button class="btn btn-danger" type="button" onclick="document.getElementById('removeName').value = '@item.Name'; document.getElementById('removeID').value = '@item.ID'" data-toggle="modal" data-target="#modalRemove">Remove</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCreate" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formCreate">
                <div class="modal-header c-vitesco-green-03">
                    <i style="color:white;font-size:30px;" class="bi-plus-circle c-vitesco-green-03"></i>
                    <h3 style="color:white;text-align:center;" class="modal-title">Create Department</h3>
                    <button style="color:white;margin-top:-8px;" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <br /><br />
                    <div class="form-horizontal">
                        <label asp-for="department.Name"></label>
                        <input asp-for="department.Name" class="form-control" />
                    </div>
                    <br /><br />
                </div>
                <div class="modal-footer">
                    <input style="width:120px;" type="button" value="Cancel" class="btn btn-danger mr-auto" data-dismiss="modal" />
                    <input type="submit" style="width:120px;float:right;" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEdit" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formEdit">
                <div class="modal-header c-vitesco-blue-03">
                    <i style="color:white;font-size:30px;" class="bi-pencil c-vitesco-blue-03"></i>
                    <h3 style="color:white;text-align:center;" class="modal-title">Edit Department</h3>
                    <button style="color:white;margin-top:-8px;" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <br /><br />
                    <div class="form-horizontal">
                        <label asp-for="department.Name"></label>
                        <input id="editName" asp-for="department.Name" class="form-control" />
                        <input id="editID" style="display:none" asp-for="department.ID" class="form-control" />
                    </div>
                    <br /><br />
                </div>
                <div class="modal-footer">
                    <input style="width:120px;" type="button" value="Cancel" class="btn btn-danger mr-auto" data-dismiss="modal" />
                    <input type="submit" style="width:120px;float:right;" value="Update" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRemove" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formRemove">
                <div style="background-color: #dc3545;" class="modal-header">
                    <i style="color:white;font-size:30px;background-color:#dc3545;" class="bi-x-circle"></i>
                    <h3 style="color:white;text-align:center;" class="modal-title">Remove Department</h3>
                    <button style="color:white;margin-top:-8px;" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <br /><br />
                    <div class="form-horizontal">
                        <label asp-for="department.Name"></label>
                        <input id="removeName" readonly asp-for="department.Name" class="form-control" />
                        <input id="removeID" style="display:none" asp-for="department.ID" class="form-control" />
                    </div>
                    <br /><br />
                </div>
                <div class="modal-footer">
                    <input style="width:120px;" type="button" value="Cancel" class="btn btn-danger mr-auto" data-dismiss="modal" />
                    <input type="submit" style="width:120px;float:right;" value="Remove" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>
</div>
