@page
@model ManageUsersModel
@{
}

<h4>Manage Users</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].FullName)
            </th>
            <th>
                Edit Permissions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Users)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a asp-page="./ManagePermissions" asp-route-id="@item.ID">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>