@page
@model ManageUsersModel
@{
}

<div class="row justify-content-center">
    <div class="col-8">
        <div class="card fb-card c-vitesco-gray">
            <div class="card-header c-vitesco-gray">
                <i style="vertical-align:middle" class="ti-settings c-vitesco-gray"></i>
                <div class="d-inline-block">
                    <h2 style="color:white">Manage Users</h2>
                </div>
            </div>
            <div class="card-block card-padding">
                <table class="table table-bordered table-vitesco">
                    <thead class="thead-vitesco">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Users[0].ID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Users[0].UserName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Users[0].FullName)
                            </th>
                            <th>
                                Edit Permissions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Users)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-page="./ManagePermissions" asp-route-id="@item.ID">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>