@page
@model ManageUsersModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="row justify-content-center">
    <div class="col-8">
        <div class="card fb-card c-vitesco-red">
            <div class="card-header c-vitesco-red">
                <i style="vertical-align:middle" class="ti-settings c-vitesco-red"></i>
                <div class="d-inline-block">
                    <h2 style="color:white">@Localizer["Manage Users"].Value</h2>
                </div>
            </div>
            <div class="card-block card-padding">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-vitesco">
                        <thead class="thead-vitesco">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Users[0].ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Users[0].UserName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Users[0].FullName)
                                </th>
                                <th class="text-center">
                                    @Localizer["Options"].Value
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Users)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td class="text-center ws-nowrap">
                                        <a class="btn btn-primary" asp-page="./ManagePermissions" asp-route-id="@item.ID">@Localizer["Edit"].Value</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>