@page
@model PermissionsModel
@{
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(function () {
            $("#formCreate").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: window.location.href + '?handler=Create',
                    data: $('#formCreate').serialize(),
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    success: function () {
                        location = location.href;
                    }
                });
            });

            $("#formEdit").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: window.location.href + '?handler=Edit',
                    data: $('#formEdit').serialize(),
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    success: function () {
                        location = location.href;
                    }
                });
            });

            $("#formRemove").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: window.location.href + '?handler=Remove',
                    data: $('#formRemove').serialize(),
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    success: function () {
                        location = location.href;
                    }
                });
            });

            $("#btnTeste").click(function (event) {
                $.ajax({
                    type: "POST",
                    url: window.location.href + '?handler=Teste',
                    data: "",
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    success: function () {
                        location = location.href;
                    }
                });
            });
        });
    });
</script>

<h4>Permissions</h4>
<hr />
<p>
    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#modalCreate">Create New Permission</button>
</p>
<table class="table table-bordered table-responsive">
    <br />
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.permissions[0].PermissionName)</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.permissions)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.PermissionName)</td>
                <td>
                    <button class="btn btn-primary" type="button" onclick="document.getElementById('editName').value = '@item.PermissionName'; document.getElementById('editID').value = '@item.ID'" data-toggle="modal" data-target="#modalEdit">Edit</button>
                    <button class="btn btn-danger" type="button" onclick="document.getElementById('removeName').value = '@item.PermissionName'; document.getElementById('removeID').value = '@item.ID'" data-toggle="modal" data-target="#modalRemove">Remove</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<button id="btnTeste" class="btn btn-primary">Teste</button>


<div class="modal fade" id="modalCreate" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formCreate">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Create New Permission</h4>
                </div>

                <div class="modal-body">
                    <div class="form-horizontal">
                        <label asp-for="permission.PermissionName"></label>
                        <input asp-for="permission.PermissionName" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <input type="button" value="Cancel" class="btn btn-danger" data-dismiss="modal" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEdit" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formEdit">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Edit Permission</h4>
                </div>

                <div class="modal-body">
                    <div class="form-horizontal">
                        <label asp-for="permission.PermissionName"></label>
                        <input id="editName" asp-for="permission.PermissionName" class="form-control" />
                        <input id="editID" style="display:none" asp-for="permission.ID" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Update" class="btn btn-primary" />
                            <input type="button" value="Cancel" class="btn btn-danger" data-dismiss="modal" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRemove" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formRemove">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Remove Permission</h4>
                </div>

                <div class="modal-body">
                    <div class="form-horizontal">
                        <label asp-for="permission.PermissionName"></label>
                        <input id="removeName" readonly asp-for="permission.PermissionName" class="form-control" />
                        <input id="removeID" style="display:none" asp-for="permission.ID" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Remove" class="btn btn-primary" />
                            <input type="button" value="Cancel" class="btn btn-danger" data-dismiss="modal" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>