@page
@model PermissionsModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<script>
    $(document).ready(function () {
        $(function () {
            $("#formCreate").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: window.location.href + '?handler=Create',
                    data: $('#formCreate').serialize(),
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    success: function () {
                        location = location.href;
                    }
                });
            });

            $("#formEdit").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: window.location.href + '?handler=Edit',
                    data: $('#formEdit').serialize(),
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    success: function () {
                        location = location.href;
                    }
                });
            });

            $("#formRemove").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: window.location.href + '?handler=Remove',
                    data: $('#formRemove').serialize(),
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    success: function () {
                        location = location.href;
                    }
                });
            });

            $("#btnTeste").click(function (event) {
                $.ajax({
                    type: "POST",
                    url: window.location.href + '?handler=Teste',
                    data: "",
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    success: function () {
                        location = location.href;
                    }
                });
            });
        });
    });
</script>

<div class="row justify-content-center">
    <div class="col-8">
        <div class="card fb-card c-vitesco-gray">
            <div class="card-header c-vitesco-gray">
                <i style="vertical-align:middle" class="ti-briefcase c-vitesco-gray"></i>
                <div class="d-inline-block">
                    <h2 style="color:white">@Localizer["Permissions"].Value</h2>
                </div>
            </div>
            <div class="card-block card-padding">
                @if (Model.permissions.Contains("PermissionsCreate"))
                {
                    <p>
                        <button style="float:right;" class="btn btn-primary" type="button" data-toggle="modal" data-target="#modalCreate">@Localizer["Create New Permission"].Value</button>
                    </p>
                }
                <br />
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-vitesco">
                        <br />
                        <thead class="thead-vitesco">
                            <tr>
                                <th width="80%">@Html.DisplayNameFor(model => model.Permissions[0].PermissionName)</th>
                                <th width="20%" class="text-center">@Localizer["Options"].Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Permissions)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.PermissionName)</td>
                                    <td class="text-center ws-nowrap">
                                        @if (Model.permissions.Contains("PermissionsEdit"))
                                        {
                                            <button class="btn btn-primary" type="button" onclick="document.getElementById('editName').value = '@item.PermissionName'; document.getElementById('editID').value = '@item.ID'" data-toggle="modal" data-target="#modalEdit">@Localizer["Edit"].Value</button>
                                        }
                                        @*@if (!Model.permissions.Contains("PermissionsDelete"))
                                        {
                                            <button class="btn btn-danger" type="button" onclick="document.getElementById('removeName').value = '@item.PermissionName'; document.getElementById('removeID').value = '@item.ID'" data-toggle="modal" data-target="#modalRemove">@Localizer["Remove"].Value</button>
                                        }*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCreate" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formCreate">
                <div class="modal-header c-vitesco-green-03">
                    <i style="color:white;font-size:30px;" class="bi-plus-circle c-vitesco-green-03"></i>
                    <h3 style="color:white;text-align:center;" class="modal-title">@Localizer["Create Permission"].Value</h3>
                    <button style="color:white;margin-top:-8px;" type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="c-m-btn">×</span><span class="sr-only">@Localizer["Close"].Value</span></button>
                </div>
                <div class="modal-body">
                    <div style="padding:10px;" class="form-horizontal">
                        <div class="form-group">
                            <label asp-for="Permission.PermissionName"></label>
                            <input asp-for="Permission.PermissionName" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input style="width:150px;" type="button" value="@Localizer["Cancel"].Value" class="btn btn-danger mr-auto" data-dismiss="modal" />
                    <input type="submit" style="width:120px;float:right;" value="@Localizer["Create"].Value" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEdit" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formEdit">
                <div class="modal-header c-vitesco-blue-03">
                    <i style="color:white;font-size:30px;" class="bi-pencil c-vitesco-blue-03"></i>
                    <h3 style="color:white;text-align:center;" class="modal-title">@Localizer["Edit Permission"].Value</h3>
                    <button style="color:white;margin-top:-8px;" type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="c-m-btn">×</span><span class="sr-only">@Localizer["Close"].Value</span></button>
                </div>
                <div class="modal-body">
                    <div style="padding:10px;" class="form-horizontal">
                        <div class="form-group">
                            <label asp-for="Permission.PermissionName"></label>
                            <input id="editName" asp-for="Permission.PermissionName" class="form-control" />
                            <input id="editID" style="display:none" asp-for="Permission.ID" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input style="width:150px;" type="button" value="@Localizer["Cancel"].Value" class="btn btn-danger mr-auto" data-dismiss="modal" />
                    <input type="submit" style="width:120px;float:right;" value="@Localizer["Update"].Value" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRemove" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formRemove">
                <div style="background-color: #dc3545;" class="modal-header">
                    <i style="color:white;font-size:30px;background-color:#dc3545;" class="bi-x-circle"></i>
                    <h3 style="color:white;text-align:center;" class="modal-title">@Localizer["Remove Permission"].Value</h3>
                    <button style="color:white;margin-top:-8px;" type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="c-m-btn">×</span><span class="sr-only">@Localizer["Close"].Value</span></button>
                </div>
                <div class="modal-body">
                    <div style="padding:10px;" class="form-horizontal">
                        <div class="form-group">
                            <label asp-for="Permission.PermissionName"></label>
                            <input id="removeName" readonly asp-for="Permission.PermissionName" class="form-control" />
                            <input id="removeID" style="display:none" asp-for="Permission.ID" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input style="width:150px;" type="button" value="@Localizer["Cancel"].Value" class="btn btn-danger mr-auto" data-dismiss="modal" />
                    <input type="submit" style="width:120px;float:right;" value="@Localizer["Remove"].Value" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>
</div>
