@page
@model ResetAuthenticatorModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="card fb-card c-vitesco-green-04">
            <div class="card-header c-vitesco-green-04">
                <i style="vertical-align:middle" class="ti-user c-vitesco-green-04"></i>
                <div class="d-inline-block">
                    <h2 style="color:white">@Localizer["Reset authenticator key"].Value</h2>
                </div>
            </div>
            <div class="card-block card-padding">
                <br />
                @Html.Partial("_StatusMessage", Model.StatusMessage)
                <div class="alert alert-warning" role="alert">
                    <p>
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        <strong>@Localizer["If you reset your authenticator key your authenticator app will not work until you reconfigure it."].Value</strong>
                    </p>
                    <p>
                        @Localizer[@"This process disables 2FA until you verify your authenticator app.
                        If you do not complete your authenticator app configuration you may lose access to your account."].Value
                    </p>
                </div>
                <div>
                    <br />
                    <form id="reset-authenticator-form" method="post" class="form-group">
                        <button style="float:right;" id="reset-authenticator-button" class="btn btn-danger" type="submit">@Localizer["Reset authenticator key"].Value</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>