@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model MachinePortal.Models.Responsible
@* Responsible Photo Button and Preview *@
<script type="text/javascript">
    $(document).ready(function () {
        //Mask
        $('.phone_with_ddd').mask('@Localizer["PhoFormat"].Value');
        $('.cell_with_ddd').mask('@Localizer["CelFormat"].Value');

        //Button triggers the photo file input
        document.getElementById('openPhoto').addEventListener('click', () => {
            document.getElementById('photo').click()
        });

        $("#photo").change(function () {
            //Get file name and put it into input
            var fileInput = document.getElementById('photo');
            for (i = 0; i < fileInput.files.length; i++) {
                var sfilename = fileInput.files[i].name;
                document.getElementById("photoFilePath").value = sfilename;
            }
            //Load file and show the preview
            if (typeof (FileReader) != "undefined") {
                var dvPreview = $("#divImageMediaPreview");
                dvPreview.html("");
                $($(this)[0].files).each(function () {
                    var file = $(this);
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var img = $("<img />");
                        img.attr("style", "height:200px; padding: 10px;");
                        img.attr("src", e.target.result);
                        img.attr("class", "img-thumbnail");
                        dvPreview.append(img);
                    }
                    reader.readAsDataURL(file[0]);
                });
            } else {
                notify('', 'Error: This browser does not support HTML5' + e.statusText, 'top', 'right', 'bi-x-circle', 'error', 'fadeInRight', 'fadeInRight');
            }
        });
    });
</script>

@* Send form through AJAX *@
<script type="text/javascript">
    $(document).ready(function () {
        $("form").submit(function (event) {
            event.preventDefault()
            $('.theme-loader').show();
            $.ajax({
                url: '@Url.Content("~/")' + "Responsibles/Create",
                type: "POST",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                processData: false,
                contentType: false,
                data: new FormData(this),
                success: function (m) {
                    $('.theme-loader').hide();
                    if (m == 'success') { window.location.href = "/Responsibles/Index"; };
                },
                error: function (e) {
                    $('.theme-loader').hide();
                    notify('', 'AJAX Request Error: ' + e.statusText, 'top', 'right', 'bi-x-circle', 'error', 'fadeInRight', 'fadeInRight');
                }
            });
        });
    });
</script>

<div class="modal-dialog">
    <div class="modal-content">
        <form id="form" asp-controller="Responsibles" asp-action="Create" class="form" method="post" enctype="multipart/form-data">
            <div class="modal-header c-vitesco-green-03">
                <i style="color:white;font-size:30px;" class="bi-plus-circle c-vitesco-green-03"></i>
                <h3 style="color:white;text-align:center;" class="modal-title">@Localizer["Create New Responsible"].Value</h3>
                <button style="color:white;margin-top:-8px;" type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="c-m-btn">×</span><span class="sr-only">@Localizer["Close"].Value</span></button>
            </div>
            <div class="modal-body">
                <div style="padding:10px;" class="form-horizontal">
                    <div class="form-group">
                        <div id="divImageMediaPreview"></div>
                        <label class="control-label">@Localizer["Photo"].Value</label>
                        <div class="input-group">
                            <input id="photoFilePath" type="text" class="form-control" placeholder="@Localizer["No file chosen"].Value" readonly />
                            <span class="input-group-append input-group-button">
                                <button id="openPhoto" class="btn btn-default" type="button">
                                    @Localizer["Open Photo"].Value
                                </button>
                            </span>
                        </div>
                        <input type="file" id="photo" name="image" accept="image/*" style="display:none" />
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>@Localizer["Department"].Value</label>
                        <select asp-for="Department.ID" class="form-control" asp-items="@(new SelectList(@ViewBag.ListDepartments,"ID","Name"))"></select>
                        <span asp-validation-for="Department" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control phone_with_ddd" maxlength="14" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mobile" class="control-label"></label>
                        <input asp-for="Mobile" class="form-control cell_with_ddd" maxlength="14" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input style="width:150px;" type="button" value="@Localizer["Cancel"].Value" class="btn btn-dan mr-auto" data-dismiss="modal" />
                <input style="width:150px;float:right;" type="submit" value="@Localizer["Create"].Value" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}