@model MachinePortal.Models.Responsible

@{
    ViewData["Title"] = Model.FirstName + " " + Model.LastName;
}

<div class="row">
    <div class="col-6">
        <div class="card fb-card c-vitesco-green-02">
            <div class="card-header c-vitesco-green-02">
                <i style="vertical-align:middle" class="ti-user c-vitesco-green-02"></i>
                <div class="d-inline-block">
                    <h2 style="color:white">@ViewData["Title"]</h2>
                </div>
            </div>
            <div class="card-block card-padding">
                <dl class="dl-horizontal">
                    <dd>
                        <img src="@Html.DisplayFor(model => model.PhotoPath)" height="200"s/>
                    </dd>
                    <br />
                    <dt>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Department)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Department)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mobile)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mobile)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                </dl>
            </div>
        </div>

        <div>
            <input type="hidden" asp-for="ID" />
            <button style="width:100px; font-weight:700;" class="btn btn-primary" action="action" onclick="history.go(-1);">Back</button>
            <button style="width:100px; font-weight:700; float:right;" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">Edit</button>
        </div>
    </div>
</div>