@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model MachinePortal.Models.Responsible

<script>
    $(document).ajaxComplete(function (event, xhr, settings) {
        //Mask
        $('.phone_with_ddd').mask('@Localizer["PhoFormat"].Value');
        $('.cell_with_ddd').mask('@Localizer["CelFormat"].Value');

        //Button triggers the photo file input
        document.getElementById('openPhotoEdit').addEventListener('click', () => {
            document.getElementById('photoEdit').click()
        });

        $("#photoEdit").change(function () {
            //Get file name and put it into input
            var fileInput = document.getElementById('photoEdit');
            for (i = 0; i < fileInput.files.length; i++) {
                var sfilename = fileInput.files[i].name;
                document.getElementById("photoFilePathEdit").value = sfilename;
            }
            //Load file and show the preview
            if (typeof (FileReader) != "undefined") {
                var dvPreview = $("#divImageMediaPreviewEdit");
                dvPreview.html("");
                var formData = new FormData();
                var filesLength = document.getElementById('photoEdit').files.length;
                for (var i = 0; i < filesLength; i++) {
                    var file = document.getElementById('photoEdit').files[i];
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var img = $("<img />");
                        img.attr("style", "height:200px; margin: 10px;");
                        img.attr("src", e.target.result);
                        img.attr("class", "img-thumbnail");
                        dvPreview.append(img);
                    }
                    reader.readAsDataURL(file);
                }
            } else {
                notify('', 'Error: This browser does not support HTML5' + e.statusText, 'top', 'right', 'bi-x-circle', 'error', 'fadeInRight', 'fadeInRight');
            }
        });
    });
</script>

@* Send form through AJAX *@
<script type="text/javascript">
    $(document).ready(function () {
        $("form").submit(function (event) {
            event.preventDefault()
            $('.theme-loader').show();
            $.ajax({
                url: '@Url.Content("~/")' + "Responsibles/Edit",
                type: "POST",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                processData: false,
                contentType: false,
                data: new FormData(this),
                success: function (m) {
                    if (m == 'success') { window.location.href = "/Lines/Index"; };
                },
                error: function (e) {
                    $('.theme-loader').hide();
                    notify('', 'AJAX Request Error: ' + e.statusText, 'top', 'right', 'bi-x-circle', 'error', 'fadeInRight', 'fadeInRight');
                }
            });
        });
    });
</script>

<div class="modal-dialog">
    <div class="modal-content">
        <form id="form" asp-controller="Responsibles" asp-action="Edit" class="form" method="post" enctype="multipart/form-data">
            <div class="modal-header c-vitesco-blue-03">
                <i style="color:white;font-size:30px;" class="bi-pencil c-vitesco-blue-03"></i>
                <h3 style="color:white;text-align:center;" class="modal-title">@Localizer["Edit Responsible"].Value</h3>
                <button style="color:white;margin-top:-8px;" type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="c-m-btn">×</span><span class="sr-only">@Localizer["Close"].Value</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div id="divImageMediaPreviewEdit"></div>
                    <label class="control-label">@Localizer["Photo"].Value</label>
                    <div class="input-group">
                        <input id="photoFilePathEdit" type="text" class="form-control" placeholder="@Localizer["No file chosen"].Value" readonly />
                        <span class="input-group-append input-group-button">
                            <button id="openPhotoEdit" class="btn btn-default" type="button">
                                @Localizer["Open Photo"].Value
                            </button>
                        </span>
                    </div>
                    <input type="file" id="photoEdit" name="image" accept="image/*" style="display:none" />
                </div>
                @* Save Responsible ID *@
                <div class="form-group">
                    <input asp-for="ID" style="display:none" />
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>@Localizer["Department"].Value</label>
                    <select asp-for="Department.ID" class="form-control" asp-items="@(new SelectList(@ViewBag.ListDepartments,"ID","Name"))"></select>
                    <span asp-validation-for="Department.ID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control phone_with_ddd" maxlength="14" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mobile" class="control-label"></label>
                    <input asp-for="Mobile" class="form-control cell_with_ddd" maxlength="14" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <input style="width:150px;" type="button" value="@Localizer["Cancel"].Value" class="btn btn-danger mr-auto" data-dismiss="modal" />
                <input style="width:150px;float:right;" type="submit" value="@Localizer["Edit"].Value" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}