@model IEnumerable<MachinePortal.Models.Responsible>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    function renderPartialDetails(ID) {
        $.ajax({
            url: '@Url.Action("AddPartialDetails", "Responsibles")',
            data: { id: ID},
            type: "POST",
            success: function(data) {
                $('#modalDetails').html(data);
            }
        });
    }

    function renderPartialEdit(ID) {
        $.ajax({
            url: '@Url.Action("AddPartialEdit", "Responsibles")',
            data: { id: ID},
            type: "POST",
            success: function(data) {
                $('#modalEdit').html(data);
            }
        });
    }

    function renderPartialDelete(ID) {
        $.ajax({
            url: '@Url.Action("AddPartialDelete", "Responsibles")',
            data: { id: ID},
            type: "POST",
            success: function(data) {
                $('#modalDelete').html(data);
            }
        });
    }
</script>

<div class="card fb-card c-vitesco-green-02">
    <div class="card-header c-vitesco-green-02">
        <i style="vertical-align:middle" class="ti-user c-vitesco-green-02"></i>
        <div class="d-inline-block">
            <h2 style="color:white;">@ViewData["Title"]</h2>
        </div>
    </div>
    <div class="card-block card-padding">
        <p>
            <button class="btn btn-primary btn-create" data-toggle="modal" data-target="#modalCreate">Create New Responsible</button>
        </p>
        <table class="table table-bordered table-vitesco">
            <thead class="thead-vitesco">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.PhotoPath)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.LastName)</th>
                    <th>@Html.DisplayNameFor(model => model.Department.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.Mobile)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th width="20%">Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @if (item.PhotoPath != null)
                        {
                            <td><img src="@Html.DisplayFor(modelItem => item.PhotoPath)" width="100" /></td>
                        }
                        else
                        {
                            <td><img src="~/resources/General/NoImage.jpg" width="100" /></td>
                        }
                        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Department.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.Mobile)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>
                            <button class="btn btn-success" data-toggle="modal" onclick="renderPartialDetails(@item.ID)" data-target="#modalDetails">Open</button>
                            <button class="btn btn-primary" data-toggle="modal" onclick="renderPartialEdit(@item.ID)" data-target="#modalEdit">Edit</button>
                            <button class="btn btn-danger" data-toggle="modal" onclick="renderPartialDelete(@item.ID)" data-target="#modalDelete">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal" id="modalCreate" role="dialog">
    @Html.Partial("Create", new Responsible());
</div>
<div class="modal" id="modalDetails" role="dialog">
</div>
<div class="modal" id="modalEdit" role="dialog">
</div>
<div class="modal" id="modalDelete" role="dialog">
</div>