@page
@model ConfirmEmailModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="row justify-content-around">
    <div class="col-6">
        <div class="card fb-card c-vitesco-green-02">
            <div class="card-header c-vitesco-green-02">
                <i style="float: left; font-size: 40px; margin-right: 0px; padding: 10px 0px 0px 0px;" class="bi-check-circle c-vitesco-green-02"></i>
                <h2 style="color: white; text-align:center; margin:5px 35px 0px 0px;">@Localizer["EMAIL CONFIRMED"].Value</h2>
            </div>
            <div style="text-align:center" class="card-block card-padding">
                <h1 style="font-size:60px">@Localizer["THANK YOU!"].Value</h1>
                <img src="~/resources/General/Thanks.png" width="160" />
                <br /><br />
                <h4>@Localizer["Your email has been confirmed successfuly"].Value</h4>
                <br /><br />
                <h4>@Localizer["Now you're already able to access all features of Machine Portal"].Value</h4>
                <br />
                <p style="font-size:18px">@Localizer["click "].Value<a style="font-size:18px" href="/">here</a>@Localizer[" to return to the home page."].Value</p>

            </div>
        </div>
    </div>
</div>