@page
@model LoginModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div style="margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; display:inline" class="row">
    <div class="col-sm-12">
        <div class="login-card card-block auth-body mr-auto ml-auto">
            <form method="post">
                <div class="auth-box">
                    <div class="row m-b-20">
                        <div class="col-md-12">
                            <h3 class="text-left txt-primary">@Localizer["Log In"].Value</h3>
                        </div>
                    </div>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        @*<label asp-for="Input.UserName"></label>*@
                        <input placeholder="Email or Username" asp-for="Input.UserName" class="form-control" />
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @*<label asp-for="Input.Password"></label>*@
                        <input placeholder="Password" asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="row m-t-25 text-left">
                        <div class="col-sm-7 col-xs-12">
                            <div class="checkbox-fade fade-in-primary">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" type="checkbox">
                                    <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                    <span class="text-inverse">@Localizer["Remember Me"].Value</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-5 col-xs-12 forgot-phone text-right">
                            <a asp-page="./ForgotPassword" class="text-right f-w-600 text-inverse"> @Localizer["Forgot Your Password?"].Value</a>
                        </div>
                    </div>
                    <div class="row m-t-30">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">@Localizer["Log In"].Value</button>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-10">
                            <p class="text-inverse text-left m-b-0">@Localizer["Thank you and enjoy our website."].Value</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
