@page
@model WaitingConfirmationModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="row justify-content-around">
    <div class="col-6">
        <div class="card fb-card c-vitesco-green-02">
            <div style="background-color: #ffbb33;" class="card-header">
                <i style="float: left; font-size: 40px; margin-right: 0px; padding: 10px 0px 0px 0px; background-color:#ffbb33;" class="bi-exclamation-diamond"></i>
                <h3 style="color: white; text-align:center; margin:5px 0px 0px 0px;">@Localizer["WAITING EMAIL CONFIRMATION"].Value</h3>
            </div>
            <div style="text-align:center" class="card-block card-padding">
                <h1 style="font-size:35px">@Localizer["EMAIL NOT CONFIRMED!"].Value</h1>
                @*<i class="bi-check-circle" style="font-size:80px"></i>*@
                <img src="~/resources/General/CheckEmail.png" width="200" />
                <br /><br />
                <h5>@Localizer["Please check your email inbox"].Value</h5>
                <br /><br />
                <h5>@Localizer["An email confirmation was sent to your email, and needs to be validated before starting using Machine Portal."].Value</h5>
                <br />
                <p style="font-size:18px">@Localizer["click "].Value<a style="font-size:18px" href="/">here</a>@Localizer[" to return to the home page."].Value</p>
            </div>
        </div>
    </div>
</div>