@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model MachinePortal.Models.Device

@* Check User Permissions *@
@using Microsoft.AspNetCore.Identity
@using MachinePortal.Areas.Identity.Data
@using Microsoft.EntityFrameworkCore
@inject UserManager<MachinePortalUser> UserManager
@inject IdentityContext identityContext
@{
    var user = await UserManager.GetUserAsync(User);
    List<string> permissions = new List<string>();
    if (user != null) { permissions = ((from obj in identityContext.UserPermission select obj).Include(p => p.Permission).Where(x => x.UserID == user.Id).ToList()).Select(p => p.Permission.PermissionName).ToList(); };
    if (!permissions.Contains("PageDevices")) { Context.Response.Redirect("/Home/AccessDenied"); };
}

@* Form Data Variable *@
<script type="text/javascript">
    var formdata = new FormData();
    var Mfiles = [];
    var DRemove = [];
</script>

@* Machine Photo Button and Preview *@
<script type="text/javascript">
    //Mask
    $('.money2').mask("###.###.##0,00", { reverse: true });

    //Remove Document
    function RemoveDocument(ID) {
        if (confirm("Do you confirm remove this document?")) {
            DRemove.push(ID)
            var table = document.getElementById("tDocuments");
            for (var i = 0, row; row = table.rows[i]; i++) {
                for (var j = 0, col; col = row.cells[j]; j++) {
                    if (row.cells[j].innerText == ID) {
                        table.rows[i].remove();
                    }
                }
            }
        }
    }

    $(document).ready(function () {
        //Button triggers the photo file input
        document.getElementById('openPhoto').addEventListener('click', () => {
            document.getElementById('photo').click()
        });

        $("#photo").change(function () {
            //Get file name and put it into input
            var fileInput = document.getElementById('photo');
            for (i = 0; i < fileInput.files.length; i++) {
                var sfilename = fileInput.files[i].name;
                document.getElementById("photoFilePath").value = sfilename;
            }
            //Load file and show the preview
            if (typeof (FileReader) != "undefined") {
                var dvPreview = $("#divImageMediaPreview");
                dvPreview.html("");
                $($(this)[0].files).each(function () {
                    var file = $(this);
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var img = $("<img />");
                        img.attr("style", "height:200px; margin: 10px;");
                        img.attr("src", e.target.result);
                        img.attr("class", "img-thumbnail");
                        dvPreview.append(img);
                    }
                    reader.readAsDataURL(file[0]);
                });
            } else {
                alert("This browser does not support HTML5.");
            }
        });

        function DeleteFile(Fileid, FileName) {
            formdata.delete(FileName)
            $("#" + Fileid).remove();
            //chkatchtbl();
        }

        document.getElementById('openInputDocument').addEventListener('click', () => {
            document.getElementById('iDocuments').click()
        });

        $("#iDocuments").on("change", function () {
            var fileInput = document.getElementById('iDocuments');
            for (i = 0; i < fileInput.files.length; i++) {
                var sfilename = fileInput.files[i].name;
                document.getElementById("documentFilePath").value = sfilename;
            }
        });

        $("#insertDocument").on("click", function () {
            var fileInput;
            var sfilename;
            fileInput = document.getElementById('iDocuments');
            sfilename = fileInput.value;
            var sName = document.getElementById('documentName').value;
            let srandomid = Math.random().toString(36).substring(7);
            var doc = { Name: sName, ID: srandomid, Type: "Document", FileName: sfilename };
            formdata.append("document", fileInput.files[0]);
            Mfiles.push(doc);
            // Binding the file name
            var markup = "<tr id='" + srandomid + "'><td>" + srandomid + "</td><td>" + sName + "</td><td class='text-center ws - nowrap'><a href='#' class='btn btn-danger' onclick='DeleteFile(\"" + srandomid + "\",\"" + sfilename +
                "\")'><span>Delete</span></a></td></tr>";
            $("#tDocuments").append(markup);
            //chkatchtbl();
            $('#iDocuments').val('');
        });

        $("form").submit(function (event) {
            event.preventDefault();
            var data = new FormData($('#form')[0]);
            for (var pair of formdata.entries()) {
                data.append(pair[0], pair[1]);
            }
            data.append('files', JSON.stringify(Mfiles));
            data.append('DRemove', JSON.stringify(DRemove));
            $('.theme-loader').show();
            $.ajax({
                url: '@Url.Content("~/")' + "Devices/Edit",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function () {
                    window.location.href = "/Devices/Index";
                },
                error: function () {
                    $('.theme-loader').hide();
                    notify('', 'AJAX Request Error: ' + e.statusText, 'top', 'right', 'bi-x-circle', 'error', 'fadeInRight', 'fadeInRight');
                }
            });
        });
    });
</script>

<div class="row">
    <div class="col-md-10">
        <form id="form" asp-controller="Lines" asp-action="Edit" class="form" method="post" enctype="multipart/form-data">
            <div class="card fb-card c-vitesco-green-03">
                <div class="card-header c-vitesco-green-03">
                    <i style="vertical-align:middle" class="ti-harddrives c-vitesco-green-03"></i>
                    <div class="d-inline-block">
                        <h2 style="color:white">@Localizer["Edit"].Value: @Model.Name</h2>
                    </div>
                </div>
                <div class="card-block card-padding">
                    <div class="form-group">
                        <label class="control-label">@Localizer["Photo"].Value</label>
                        <div id="divImageMediaPreview"></div>
                        <div class="input-group">
                            <input id="photoFilePath" type="text" class="form-control" placeholder="@Localizer["No file chosen"].Value" readonly />
                            <span class="input-group-append input-group-button">
                                <button id="openPhoto" class="btn btn-default" type="button">
                                    @Localizer["Open Photo"].Value
                                </button>
                            </span>
                        </div>
                        <input type="file" id="photo" name="image" accept="image/*" style="display:none" />
                    </div>
                    @* Save Device ID *@
                    <div class="form-group">
                        <input asp-for="ID" style="display:none" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Brand" class="control-label"></label>
                        <input asp-for="Brand" class="form-control" />
                        <span asp-validation-for="Brand" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model" class="control-label"></label>
                        <input asp-for="Model" class="form-control" />
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PartNumber" class="control-label"></label>
                        <input asp-for="PartNumber" class="form-control" />
                        <span asp-validation-for="PartNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <div class="input-group">
                            <span class="input-group-addon">@Localizer["US$"].Value</span>
                            <input asp-for="Price" class="form-control money2" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Supplier" class="control-label"></label>
                        <input asp-for="Supplier" class="form-control" />
                        <span asp-validation-for="Supplier" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StockLocation" class="control-label"></label>
                        <input asp-for="StockLocation" class="form-control" />
                        <span asp-validation-for="StockLocation" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="card fb-card c-vitesco-green-03">
                <div class="card-header c-vitesco-green-03">
                    <div class="d-inline-block">
                        <h2 style="color:white">@Localizer["Documents"].Value</h2>
                    </div>
                </div>
                <div class="card-block card-padding">
                    <input id="iDocuments" type="file" style="display:none" />
                    <button style="float:right" class="btn btn-success" type="button" data-toggle="modal" data-target="#modalDocuments">@Localizer["Add Documents"].Value</button>
                    <br /><br />
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-vitesco" id="tDocuments">
                            <thead>
                                <tr class="thead-vitesco">
                                    <th>
                                        @Localizer["ID"].Value
                                    </th>
                                    <th>
                                        @Localizer["Name"].Value
                                    </th>
                                    <th class="text-center">
                                        @Localizer["Delete"].Value
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.Documents)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.ID)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td class="text-center ws-nowrap">
                                        <a style="color:white" class="btn btn-danger" onclick="RemoveDocument(@item.ID)">@Localizer["Delete"].Value</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <a style="width:150px;" class="btn btn-primary" asp-action="Index">@Localizer["Back to List"].Value</a>
                <input style="width:150px;float:right;" type="submit" id="submit" value="@Localizer["Edit"].Value" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modalDocuments" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Document</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Name:</label>
                    <input id="documentName" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">File:</label>
                    <div class="input-group">
                        <span id="DGroup" class="input-group-btn">
                            <button id="openInputDocument" class="btn btn-default" type="button">
                                Open File
                            </button>
                        </span>
                        <input id="documentFilePath" type="text" class="form-control" placeholder="No file chosen" readonly />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="insertDocument" class="btn btn-success">Insert</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
