@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="card fb-card c-vitesco-blue-01">
    <div class="card-header c-vitesco-blue-01">
        <i style="vertical-align:middle" class="ti-info c-vitesco-blue-01"></i>
        <div class="d-inline-block">
            <h2 style="color:white">@Localizer["About"].Value</h2>
        </div>
    </div>
    <div class="card-block card-padding">
        <br /><br />
        <img width="500" src="~/resources/General/MachinePortal.png" />
        <br /><br /><br />
        <h4 style="font-weight:700;">@Localizer["Machine Portal System"].Value</h4>
        <h5>@Localizer["Developed by:"].Value Vitesco Technologies</h5>
        <h5>@Localizer["Location:"].Value Salto / São Paulo - Brazil</h5>
        <h5>@Localizer["Developer:"].Value Dorival Junior - Industrial Engineering</h5>
        <br /><br />
        <h4 style="font-weight:700;">@Localizer["IDE Information"].Value</h4>
        <h5>@Localizer["Development:"].Value Visual Studio 2019</h5>
        <h5>@Localizer["Version:"].Value 16.10.12</h5>
        <h5>@Localizer[".NET Version:"].Value 4.8.03752</h5>
        <h5>@Localizer["Machine Portal Version:"].Value @Environment.Version.ToString()</h5>
        <br /><br />
        <h5 style="font-weight:700;">© 2021</h5>
        <br /><br />
    </div>
</div>
