@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="card dribble-card c-vitesco-blue-03">
    <div class="card-header c-vitesco-blue-03">
        <i style="vertical-align:middle" class="ti-mobile c-vitesco-blue-03"></i>
        <div class="d-inline-block">
            <h2 style="color:white;">@Localizer["Contact"].Value</h2>
            <h3 style="color:white;">@ViewData["Message"]</h3>
        </div>
    </div>
    <div class="card-block card-padding">
        <br /><br />
        <h4 style="font-weight:700">Vitesco Technologies Salto</h4>
        <h5>@Localizer["Address:"].Value Marechal Rondon Av, 1768</h5>
        <h5>Salto / São Paulo - Brazil</h5>
        <h5>@Localizer["Zip Code:"].Value 13323-900</h5>
        <br /><br />
        <h4 style="font-weight:700">@Localizer["Developer"].Value</h4>
        <h5>Dorival Junior</h5>
        <h5>@Localizer["Department:"].Value Industrial Engineering</h5>
        <h5>@Localizer["Phone:"].Value +55 (11) 4028-9846</h5>
        <h5>@Localizer["Mobile:"].Value +55 (11) 97492-7949</h5>
        <br /><br />
        <address>
            <h5 style="display:inline;"><strong>@Localizer["Support:"].Value  </strong></h5> <a style="font-size:18px" href="mailto:dorival.junior@vitesco.com">dorival.junior@vitesco.com</a><br />
            <h5 style="display:inline;"><strong>@Localizer["Engineering:"].Value  </strong></h5> <a style="font-size:18px" href="mailto:rafael.canovas@vitesco.com">rafael.canovas@vitesco.com</a>
        </address>
        <br /><br />
    </div>
</div>
