@model MachinePortal.Models.Sector

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sectors</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="@Html.DisplayFor(model => model.ImagePath)" height="200" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Area
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Area.Name)
        </dd>
        <br />
        <h3>Lines</h3>
        <table class="table table-bordered table-responsive">
            @foreach (var line in Model.Lines)
            {
                <tr>
                    <th>Line</th>
                    <td>@Html.DisplayFor(model => line.Name)</td>
                    <td>
                        <a class="btn-group" asp-action="Edit" asp-controller="Lines" asp-route-id="@line.ID">Edit</a>
                        <a class="btn-group" asp-action="Details" asp-controller="Lines" asp-route-id="@line.ID">Details</a>
                        <a class="btn-group" asp-action="Delete" asp-controller="Lines" asp-route-id="@line.ID">Delete</a>
                    </td>
                </tr>
            }
        </table>      
</dl>
    <p>
        <a asp-action="Create" asp-controller="Lines" asp-route-sectorID="@Html.DisplayFor(model => model.ID)">Create New Line</a>
    </p>
</div>
<div>
    <input type="hidden" asp-for="ID" />
    <a class="btn btn-default" asp-action="Index">Back to List</a>
    <input type="submit" value="Edit" class="btn btn-info" />
</div>
