@model MachinePortal.Models.Asset

@{
    ViewData["Title"] = "Delete";
}

<h2>Assets</h2>

<h3>Delete</h3>
<div>
    <h4>Are you sure you want to delete this?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd>
            <img src="@Html.DisplayFor(model => model.ImageURL)" width="200" height="200"/>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InitialValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InitialValue)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <a class="btn btn-default" asp-action="Index">Back to List</a>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>