@using Microsoft.AspNetCore.Mvc.Localization
@using System.Web;
@inject IViewLocalizer Localizer
@model MachinePortal.Models.Machine

@{
    var LoggedUserName = ViewData["UserName"];
    var LoggedUserID = ViewData["UserID"];
    int Qty = 0;
}

<script>
    function renderPartialEdit(ID) {
        $.ajax({
            url: '@Url.Action("AddPartialEditPassword", "Machines")',
            data: { 'ID': ID, 'MachineName': '@Model.Name', 'MachineID': @Model.ID},
           type: "POST",
            success: function(data) {
                $('#modalEditPassword').html(data);
            },
            error: function (response, xhr, data) {
                $('#modalEditPassword').html(response);
            }
        });
    }

    function renderPartialDelete(ID) {
        $.ajax({
            url: '@Url.Action("AddPartialDeletePassword", "Machines")',
            data: { 'ID': ID, 'MachineName': '@Model.Name', 'MachineID': @Model.ID},
            type: "POST",
            success: function(data) {
                $('#modalDeletePassword').html(data);
            },
            error: function (response, xhr, data) {
                $('#modalDeletePassword').html(response);
            }
        });
    }

    function openDocumentPath(path) {
        $('.theme-loader').show();
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/")' + "Machines/DownloadPath",
            data: { path },
            xhrFields: { responseType: 'blob' },
            success: function (data) {
                $('.theme-loader').hide();
                var url = window.URL.createObjectURL(data);
                var newWindow = window.open(url, "_blank");
            }
        });
    };
</script>

<script type="text/javascript">
    function removeComment(ID) {
        if (confirm("Do you want to remove comment?")) {
             $.ajax({
                type: 'POST',
                url: '@Url.Content("~/")' + "Machines/RemoveComment",
                data: { CommentID: ID , MachineID: document.getElementById('MachineID').value },
                success: function (data) {
                    $('#tComments').html(data)
                },
                async: true
             });
        }
    };
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#insertComment").on("click", function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/")' + "Machines/AddComment",
                data: { UserID: document.getElementById('commentUserID').value, Comment: document.getElementById('commentComment').value, MachineID: document.getElementById('MachineID').value },
                success: function (data) {
                    $('#tComments').html(data)
                    //document.getElementById('commentAuthor').value = "";
                    document.getElementById('commentComment').value = "";
                    $('#modalComments').modal('hide');
                },
                async: true
            });
        });
    });
</script>

<div class="card fb-card c-vitesco-gray">
    <div class="card-header c-vitesco-gray">
        <i style="vertical-align:middle" class="ti-desktop c-vitesco-gray"></i>
        <div class="d-inline-block">
            <h2 style="color:white">@Model.Name</h2>
        </div>
        <hr style="border:1px solid white" />
        <div class="d-inline-block">
            <h2 style="color:white">@Localizer["General Data"].Value</h2>
        </div>
    </div>
    <div class="card-block card-padding">
        <dl class="dl-horizontal">
            <dt>
                @Localizer["Machine Photo"].Value
            </dt>
            <dd>
                @if (Model.ImagePath != null)
                {
                    <img src="@Html.DisplayFor(model => model.ImagePath)" height="300" class="img-thumbnail" />
                }
                else
                {
                    <img src="~/resources/General/NoImage.jpg" height="300" class="img-thumbnail" />
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AssetNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AssetNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MES_Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MES_Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SAP_Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SAP_Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.WorkCenter)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.WorkCenter)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CostCenter)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CostCenter)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ServerPath)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ServerPath)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastPreventiveMaintenance)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastPreventiveMaintenance)
            </dd>
        </dl>
    </div>
</div>

<div class="card fb-card">
    <div style="background-color:#4B4B46;" class="card-header">
        <div class="d-inline-block">
            <h2 style="color:white">@Localizer["Documents"].Value</h2>
        </div>
        @if (Model.MachineDocuments.Count > 10)
        {
            Qty = 10;
            <a asp-action="MachineDocuments" asp-route-id="@Model.ID" style="float:right;" class="btn btn-primary">@Localizer["Show All"].Value</a>
        }
        else
        {
            Qty = Model.MachineDocuments.Count;
        }
    </div>
    <div class="card-block card-padding">
        <dl class="dl-horizontal">
            <table class="table table-bordered table-vitesco02">
                <thead class="thead-vitesco02">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.MachineDocuments.First().Name)</th>
                        <th>@Html.DisplayNameFor(model => model.MachineDocuments.First().Category)</th>
                        <th>@Html.DisplayNameFor(model => model.MachineDocuments.First().FileName)</th>
                        <th>@Localizer["Open"].Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var document in Model.MachineDocuments.Take(10))
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => document.Name)</td>
                            <td>@Html.DisplayFor(modelItem => document.Category.Name)</td>
                            <td>@Html.DisplayFor(modelItem => document.FileName)</td>
                            @if (document.Location == "file")
                            {
                                <td><a class="btn btn-success" href="@Html.DisplayFor(modelItem => document.Path)@Html.DisplayFor(modelItem => document.FileName)" target="_blank">@Localizer["Open"].Value<a /></td>
                            }
                            else if (document.Location == "web")
                            {
                                <td><a class="btn btn-success" href="@Html.DisplayFor(modelItem => document.FileName)" target="_blank">@Localizer["Open"].Value<a /></td>
                            }
                            else if (document.Location == "path")
                            {
                                <td><button class="btn btn-success" onclick="openDocumentPath('@HttpUtility.JavaScriptStringEncode(document.FileName)')">@Localizer["Open"].Value</button></td>
                                @*<td>@Html.ActionLink("Open", "DownloadPath", new { path = document.FileName }, new { target = "_blank" })</td>*@
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </dl>
    </div>
</div>

<div class="card fb-card">
    <div style="background-color:#4B4B46;" class="card-header">
        <div class="d-inline-block">
            <h2 style="color:white">@Localizer["Images"].Value</h2>
        </div>
        @if (Model.MachineImages.Count > 5)
        {
            Qty = 5;
            <a asp-controller="Machines" asp-action="MachineImages" asp-route-id="@Model.ID" style="float:right;" class="btn btn-primary">@Localizer["Show All"].Value</a>
        }
        else
        {
            Qty = Model.MachineImages.Count;
        }
    </div>
    <div class="card-block card-padding">
        <dl class="dl-horizontal">
            @foreach (var image in Model.MachineImages.Take(5))
            {
                <a href="@image.Path@image.FileName" target="_blank">
                    @{string imgFullPath = image.Path + image.FileName;}
                    <img class="img-thumbnail" style="margin: 10px;" src="@imgFullPath" height="300" />
                </a>
            }
        </dl>
    </div>
</div>

<div class="card fb-card">
    <div style="background-color:#4B4B46;" class="card-header">
        <div class="d-inline-block">
            <h2 style="color:white">@Localizer["Videos"].Value</h2>
        </div>
        @if (Model.MachineVideos.Count > 1)
        {
            Qty = 1;
            <a asp-action="MachineVideos" asp-route-id="@Model.ID" style="float:right;" class="btn btn-primary">@Localizer["Show All"].Value</a>
        }
        else
        {
            Qty = Model.MachineVideos.Count;
        }
    </div>
    <div class="card-block card-padding">
        <dl class="dl-horizontal">
            @foreach (MachineVideo video in Model.MachineVideos.Take(1))
            {
                <dt>
                    Name: <h5>@video.Name</h5>
                </dt>
                <dt>
                    Category: <h5>@video.Category.Name</h5>
                </dt>
                <dd>
                    @{string vidFullPath = video.Path + video.FileName;}
                    <video src="@Url.Content(vidFullPath)" controls="controls" width="640" height="360" loop>
                        <a href="@Url.Content(vidFullPath)" download>@Localizer["Download"].Value</a>
                    </video>
                </dd>
            }
        </dl>
    </div>
</div>

<div class="card fb-card">
    <div style="background-color:#4B4B46;" class="card-header">
        <div class="d-inline-block">
            <h2 style="color:white">Devices</h2>
        </div>
        @if (Model.MachineDevices.Count > 5)
        {
            Qty = 5;
            <a asp-action="MachineDevices" asp-route-id="@Model.ID" style="float:right;" class="btn btn-primary">@Localizer["Show All"].Value</a>
        }
        else
        {
            Qty = Model.MachineDevices.Count;
        }
    </div>
    <div class="card-block card-padding">
        <dl class="dl-horizontal">
            <table class="table table-bordered table-vitesco02">
                <thead class="thead-vitesco02">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.MachineDevices.First().Device.ImagePath)</th>
                        <th>@Html.DisplayNameFor(model => model.MachineDevices.First().Device.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.MachineDevices.First().Device.Brand)</th>
                        <th>@Html.DisplayNameFor(model => model.MachineDevices.First().Device.Model)</th>
                        <th>@Html.DisplayNameFor(model => model.MachineDevices.First().Device.PartNumber)</th>
                        <th>@Html.DisplayNameFor(model => model.MachineDevices.First().Device.Description)</th>
                        <th>@Html.DisplayNameFor(model => model.MachineDevices.First().Device.Price)</th>
                        <th>@Html.DisplayNameFor(model => model.MachineDevices.First().Device.Supplier)</th>
                        <th>@Localizer["Details"].Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.MachineDevices.Take(5))
                    {
                        <tr>
                            <td><img class="img-thumbnail" src="@Html.DisplayFor(modelItem => item.Device.ImagePath)" width="100" /></td>
                            <td>@Html.DisplayFor(modelItem => item.Device.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Device.Brand)</td>
                            <td>@Html.DisplayFor(modelItem => item.Device.Model)</td>
                            <td>@Html.DisplayFor(modelItem => item.Device.PartNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.Device.Description)</td>
                            <td>@Html.DisplayFor(modelItem => item.Device.Price)</td>
                            <td>@Html.DisplayFor(modelItem => item.Device.Supplier)</td>
                            <td>
                                <a class="btn btn-primary" asp-controller="Devices" asp-action="Details" asp-route-id="@item.Device.ID">@Localizer["Details"].Value</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dl>
    </div>
</div>

<div class="card fb-card">
    <div style="background-color:#4B4B46;" class="card-header">
        <div class="d-inline-block">
            <h2 style="color:white">@Localizer["Responsibles"].Value</h2>
        </div>
    </div>
    <div class="card-block card-padding">
        <dl class="dl-horizontal">
            <table class="table table-bordered table-vitesco02">
                <thead class="thead-vitesco02">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.MachineResponsibles.First().Responsible.PhotoPath)</th>
                        <th>@Html.DisplayNameFor(model => model.MachineResponsibles.First().Responsible.FirstName)</th>
                        <th>@Html.DisplayNameFor(model => model.MachineResponsibles.First().Responsible.LastName)</th>
                        <th>@Html.DisplayNameFor(model => model.MachineResponsibles.First().Responsible.Department)</th>
                        <th>@Html.DisplayNameFor(model => model.MachineResponsibles.First().Responsible.Email)</th>
                        <th>@Html.DisplayNameFor(model => model.MachineResponsibles.First().Responsible.PhoneNumber)</th>
                        <th>@Html.DisplayNameFor(model => model.MachineResponsibles.First().Responsible.Mobile)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.MachineResponsibles)
                    {
                        <tr>
                            <td><img class="img-thumbnail" src="@Html.DisplayFor(modelItem => item.Responsible.PhotoPath)" width="75" /></td>
                            <td>@Html.DisplayFor(modelItem => item.Responsible.FirstName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Responsible.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Responsible.Department)</td>
                            <td>@Html.DisplayFor(modelItem => item.Responsible.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.Responsible.PhoneNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.Responsible.Mobile)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </dl>
    </div>
</div>

<div class="card fb-card">
    <div style="background-color:#4B4B46;" class="card-header">
        <div class="d-inline-block">
            <h2 style="color:white">@Localizer["Comments"].Value</h2>
        </div>
        @if (Model.MachineComments.Count > 5)
        {
            Qty = 5;
            <a asp-action="MachineComments" asp-route-id="@Model.ID" style="float:right;" class="btn btn-primary">Show All</a>
        }
        else
        {
            Qty = Model.MachineComments.Count;
        }
    </div>
    <div class="card-block card-padding">
        <dl class="dl-horizontal">
            <table style="table-layout:fixed" class="table table-bordered table-vitesco02">
                @if (LoggedUserID != null && LoggedUserID != "")
                {
                    <button class="btn btn-success" style="float:right; margin-bottom: 20px" data-toggle="modal" data-target="#modalComments">Add New Comment</button>
                }
                <thead class="thead-vitesco02">
                    <tr>
                        <th width="62%">@Html.DisplayNameFor(model => model.MachineComments.First().Comment)</th>
                        <th width="15%">@Localizer["User Name"].Value</th>
                        <th width="15%">@Html.DisplayNameFor(model => model.MachineComments.First().Date)</th>
                        <th width="8%">@Localizer["Delete"].Value</th>
                    </tr>
                </thead>
                <tbody id="tComments">
                    @foreach (var item in Model.MachineComments.Take(5))
                    {
                        <tr>
                            <td style="word-wrap:break-word;">@Html.DisplayFor(modelItem => item.Comment)</td>
                            <td>@Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Date)</td>
                            <td><button class="btn btn-danger" onclick="removeComment(@item.ID)">@Localizer["Delete"].Value</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </dl>
    </div>
</div>

<div class="card fb-card">
    <div style="background-color:#4B4B46;" class="card-header">
        <div class="d-inline-block">
            <h2 style="color:white">@Localizer["Passwords"].Value</h2>
        </div>
        @if (Model.Passwords.Count > 10)
        {
            Qty = 5;
            <a asp-action="MachinePasswords" asp-route-id="@Model.ID" style="float:right;" class="btn btn-primary">@Localizer["Show All"].Value</a>
        }
        else
        {
            Qty = Model.Passwords.Count;
        }
    </div>
    <div class="card-block card-padding">
        <dl class="dl-horizontal">
            <table style="table-layout:fixed; word-wrap:break-word" class="table table-bordered table-vitesco02">
                <p>
                    <button class="btn btn-success btn-create" data-toggle="modal" data-target="#modalCreatePassword">@Localizer["Create New Password"].Value</button>
                </p>
                <thead class="thead-vitesco02">
                    <tr>
                        @*<th>@Html.DisplayNameFor(model => model.Passwords.First().ID)</th>*@
                        <th>@Html.DisplayNameFor(model => model.Passwords.First().EquipmentName)</th>
                        <th>@Html.DisplayNameFor(model => model.Passwords.First().EquipmentDescription)</th>
                        <th>@Html.DisplayNameFor(model => model.Passwords.First().Level)</th>
                        <th>@Html.DisplayNameFor(model => model.Passwords.First().DepartmentName)</th>
                        <th>@Html.DisplayNameFor(model => model.Passwords.First().User)</th>
                        <th>@Html.DisplayNameFor(model => model.Passwords.First().Pass)</th>
                        <th>@Localizer["Options"].Value</th>
                    </tr>
                </thead>
                <tbody id="tPasswords">
                    @foreach (var item in Model.Passwords.Take(10))
                    {
                        <tr>
                            @*<td>@Html.DisplayFor(modelItem => item.ID)</td>*@
                            <td>@Html.DisplayFor(modelItem => item.EquipmentName)</td>
                            <td>@Html.DisplayFor(modelItem => item.EquipmentDescription)</td>
                            <td>@Html.DisplayFor(modelItem => item.Level)</td>
                            <td>@Html.DisplayFor(modelItem => item.DepartmentName)</td>
                            <td>@Html.DisplayFor(modelItem => item.User)</td>
                            <td>@Html.DisplayFor(modelItem => item.Pass)</td>
                            <td>
                                <button class="btn btn-primary" data-toggle="modal" onclick="renderPartialEdit(@item.ID)" data-target="#modalEditPassword">@Localizer["Edit"].Value</button>
                                <button class="btn btn-danger" data-toggle="modal" onclick="renderPartialDelete(@item.ID)" data-target="#modalDeletePassword">@Localizer["Delete"].Value</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dl>
    </div>
</div>


<div>
    <input type="hidden" asp-for="ID" />
    <button style="width:120px; font-weight:700;" class="btn btn-primary" action="action" onclick="history.go(-1);">@Localizer["Back"].Value</button>
    <a style="width:120px; font-weight:700; float:right;" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">@Localizer["Edit"].Value</a>
</div>

<div class="modal fade" id="modalComments" role="dialog">
    <div style="border-radius:8px; overflow:hidden;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header c-vitesco-green-04">
                <h4 style="vertical-align:middle;" class="modal-title">@Localizer["Add New Comment"].Value</h4>
                <button style="margin-top:-10px;" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <dt style="color:black;text-align:left;">
                    @Html.DisplayNameFor(model => model.MachineComments.First().User)
                </dt>
                <dd style="color:black;text-align:left;">
                    <input readonly id="commentAuthor" class="form-control" value="@LoggedUserName" />
                    <input id="commentUserID" style="display:none;" value="@LoggedUserID" />
                </dd>
                <br />
                <dt style="color:black;text-align:left;">
                    @Html.DisplayNameFor(model => model.MachineComments.First().Comment)
                </dt>
                <dd style="color:black;text-align:left;">
                    <textarea id="commentComment" class="form-control"></textarea>
                </dd>
            </div>
            <div class="modal-footer">
                <button type="button" id="insertComment" class="btn btn-success">@Localizer["Insert"].Value</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">@Localizer["Close"].Value</button>
            </div>
        </div>
    </div>
</div>

<input id="MachineID" style="display: none" value="@Html.DisplayFor(model => model.ID)" />

<div class="modal" id="modalCreatePassword" role="dialog">
    @Html.Partial("PasswordCreate", new Password());
</div>
<div class="modal" id="modalEditPassword" role="dialog">
</div>
<div class="modal" id="modalDeletePassword" role="dialog">
</div>