@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model MachinePortal.Models.ViewModels.MachineFormViewModel

@{
    var LoggedUserName = ViewData["UserName"];
    var LoggedUserID = ViewData["UserID"];
    var dateFormat = "dd/MM/yyyy";
}

@* Form Data Variable *@
<script type="text/javascript">
    var formdata = new FormData();
    var Mfiles = [];
    var DRemove = [];
    var IRemove = [];
    var VRemove = [];
</script>

@* Input with embebedd icon *@
<style>
    .input-icons i {
        position: absolute;
        color: lightgray;
    }

    .input-icons {
        width: 100%;
        margin-bottom: 10px;
    }

    .icon {
        padding: 10px;
        min-width: 40px;
    }
</style>

@* Files Location *@
<script>
    $(document).ready(function () {
        $("#documentLocation").on("change", function () {
            var dLoc = document.getElementById('documentLocation');
            var dInp = document.getElementById('documentFilePath');
            if (dLoc.value == 'path') {
                $("#DGroup").hide();
                dInp.readOnly = false;
                dInp.setAttribute('placeholder', "\\\\servername\\folder\\file.pdf");
            }
            else if (dLoc.value == 'web') {
                $("#DGroup").hide();
                dInp.readOnly = false;
                dInp.setAttribute('placeholder', 'http://www.sharepoint.com/path/file.pdf');
            }
            else {
                $("#DGroup").show();
                dInp.readOnly = true;
                dInp.setAttribute('placeholder', 'No file chosen');
            }
        });

        $("#imageLocation").on("change", function () {
            var iLoc = document.getElementById('imageLocation');
            var dInp = document.getElementById('imageFilePath');
            if (iLoc.value == 'path') {
                $("#IGroup").hide();
                dInp.readOnly = false;
                dInp.setAttribute('placeholder', "\\\\servername\\folder\\file.pdf");
            }
            else if (iLoc.value == 'web') {
                $("#IGroup").hide();
                dInp.readOnly = false;
                dInp.setAttribute('placeholder', 'http://www.sharepoint.com/path/file.pdf');
            }
            else {
                $("#IGroup").show();
                dInp.readOnly = true;
                dInp.setAttribute('placeholder', 'No file chosen');
            }
        });

        $("#videoLocation").on("change", function () {
            var vLoc = document.getElementById('videoLocation');
            var dInp = document.getElementById('videoFilePath');
            if (vLoc.value == 'path') {
                $("#VGroup").hide();
                dInp.readOnly = false;
                dInp.setAttribute('placeholder', "\\\\servername\\folder\\file.pdf");
            }
            else if (vLoc.value == 'web') {
                $("#VGroup").hide();
                dInp.readOnly = false;
                dInp.setAttribute('placeholder', 'http://www.sharepoint.com/path/file.pdf');
            }
            else {
                $("#VGroup").show();
                dInp.readOnly = true;
                dInp.setAttribute('placeholder', 'No file chosen');
            }
        });
    });
</script>

@* Documents, Images and Videos Removal *@
<script>
    function RemoveDocument(ID) {
        if (confirm("Do you confirm remove this document?")) {
            DRemove.push(ID)
            var table = document.getElementById("tDocuments");
            for (var i = 0, row; row = table.rows[i]; i++) {
                for (var j = 0, col; col = row.cells[j]; j++) {
                    if (row.cells[j].innerText == ID) {
                        table.rows[i].remove();
                    }
                }
            }
        }
    }

    function RemoveImage(ID) {
        if (confirm("Do you confirm remove this image?")) {
            IRemove.push(ID)
            var table = document.getElementById("tImages");
            for (var i = 0, row; row = table.rows[i]; i++) {
                for (var j = 0, col; col = row.cells[j]; j++) {
                    if (row.cells[j].innerText == ID) {
                        table.rows[i].remove();
                    }
                }
            }
        }
    }

    function RemoveVideo(ID) {
        if (confirm("Do you confirm remove this video?")) {
            VRemove.push(ID)
            var table = document.getElementById("tVideos");
            for (var i = 0, row; row = table.rows[i]; i++) {
                for (var j = 0, col; col = row.cells[j]; j++) {
                    if (row.cells[j].innerText == ID) {
                        table.rows[i].remove();
                    }
                }
            }
        }
    }
</script>

@* Selection Filters *@
<script>
    function filter(search, select) {
        var keyword = document.getElementById(search).value;
        var select = document.getElementById(select);
        for (var i = 0; i < select.length; i++) {
            var txt = select.options[i].text;
            if (!txt.match(keyword)) {
                $(select.options[i]).attr('disabled', 'disabled').hide();
            } else {
                $(select.options[i]).removeAttr('disabled').show();
            }

        }
    }

    $(document).ready(function () {
        $("#FilterSelectResponsible").on("keyup", function () {
            filter("FilterSelectResponsible", "ResponsiblesSelect");
        });
        $("#FilterSelectedResponsible").on("keyup", function () {
            filter("FilterSelectedResponsible", "ResponsiblesSelected");
        });
        $("#FilterSelectDevice").on("keyup", function () {
            filter("FilterSelectDevice", "DeviceSelect");
        });
        $("#FilterSelectedDevice").on("keyup", function () {
            filter("FilterSelectedDevice", "DeviceSelected");
        });
    });
</script>

@* Send files through AJAX *@
<script type="text/javascript">

    function DeleteFile(Fileid, FileName) {
        formdata.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl();
    }

    function chkatchtbl() {
        if ($('#tDocuments tr').length > 1) {
            $("#tDocuments").css("visibility", "visible");
        } else {
            $("#tDocuments").css("visibility", "hidden");
        }
        if ($('#tImages tr').length > 1) {
            $("#tImages").css("visibility", "visible");
        } else {
            $("#tImages").css("visibility", "hidden");
        }
        if ($('#tVideos tr').length > 1) {
            $("#tVideos").css("visibility", "visible");
        } else {
            $("#tVideos").css("visibility", "hidden");
        }
    }

    $(document).ready(function () {

        document.getElementById('openInputDocument').addEventListener('click', () => {
            document.getElementById('iDocuments').click()
        });

        document.getElementById('openInputImage').addEventListener('click', () => {
            document.getElementById('iImages').click()
        });

        document.getElementById('openInputVideo').addEventListener('click', () => {
            document.getElementById('iVideos').click()
        });

        $("#iDocuments").on("change", function () {
            var fileInput = document.getElementById('iDocuments');
            for (i = 0; i < fileInput.files.length; i++) {
                var sfilename = fileInput.files[i].name;
                document.getElementById("documentFilePath").value = sfilename;
            }
        });

        $("#iImages").on("change", function () {
            var fileInput = document.getElementById('iImages');
            for (i = 0; i < fileInput.files.length; i++) {
                var sfilename = fileInput.files[i].name;
                document.getElementById("imageFilePath").value = sfilename;
            }
        });

        $("#iVideos").on("change", function () {
            var fileInput = document.getElementById('iVideos');
            for (i = 0; i < fileInput.files.length; i++) {
                var sfilename = fileInput.files[i].name;
                document.getElementById("videoFilePath").value = sfilename;
            }
        });

        $("#insertDocument").on("click", function () {
            var dLoc = document.getElementById('documentLocation');
            var fileInput;
            var sfilename;
            if (dLoc.value == 'file') {
                fileInput = document.getElementById('iDocuments');
                sfilename = fileInput.files[0].name;
                formdata.append("document", fileInput.files[0]);
            } else {
                fileInput = document.getElementById('documentFilePath');
                sfilename = fileInput.value;
            }
            var sName = document.getElementById('documentName').value;
            var sLocation = document.getElementById('documentLocation').value;
            var iCategory = document.getElementById('documentCategory').value;
            var sCategory = document.getElementById('documentCategory').options[document.getElementById('documentCategory').selectedIndex].text;
            let srandomid = Math.random().toString(36).substring(7);
            var doc = { Name: sName, Category: iCategory, ID: srandomid, Type: "Document", FileName: sfilename, Location: sLocation };
            Mfiles.push(doc);
            var markup = "<tr id='" + srandomid + "'><td>" + srandomid + "</td><td>" + sName + "</td><td>" + sCategory + "</td><td>" + sfilename + "</td class='text-center ws - nowrap'><td><a href='#' class='btn btn-danger' onclick='DeleteFile(\"" + srandomid + "\",\"" + sfilename +
                "\")'><span>Delete</span></a></td></tr>"; // Binding the file name
            $("#tDocuments").append(markup);
            //chkatchtbl();
            $('#iDocuments').val('');
        });

        $("#insertImage").on("click", function () {
            var iLoc = document.getElementById('imageLocation');
            var fileInput;
            var sfilename;
            if (iLoc.value == 'file') {
                fileInput = document.getElementById('iImages');
                sfilename = fileInput.files[0].name;
                formdata.append("image", fileInput.files[0]);
            } else {
                fileInput = document.getElementById('imageFilePath');
                sfilename = fileInput.value;
            }
            var sName = document.getElementById('imageName').value;
            var sLocation = document.getElementById('imageLocation').value;
            var iCategory = document.getElementById('imageCategory').value;
            var sCategory = document.getElementById('imageCategory').options[document.getElementById('imageCategory').selectedIndex].text;
            let srandomid = Math.random().toString(36).substring(7);
            var img = { Name: sName, Category: iCategory, ID: srandomid, Type: "Image", FileName: sfilename, Location: sLocation };
            Mfiles.push(img);

            var markup = "<tr id='" + srandomid + "'><td>" + srandomid + "</td><td>" + sName + "</td><td>" + sCategory + "</td><td>" + sfilename + "</td><td class='text-center ws - nowrap'><a href='#' class='btn btn-danger' onclick='DeleteFile(\"" + srandomid + "\",\"" + sfilename +
                "\")'><span>Delete</span></a></td></tr>"; // Binding the file name
            $("#tImages").append(markup);
            //chkatchtbl();
            $('#iImages').val('');
        });

        $("#insertVideo").on("click", function () {
            var vLoc = document.getElementById('videoLocation');
            var fileInput;
            var sfilename;
            if (vLoc.value == 'file') {
                fileInput = document.getElementById('iVideos');
                sfilename = fileInput.files[0].name;
                formdata.append("video", fileInput.files[0]);
            } else {
                fileInput = document.getElementById('videoFilePath');
                sfilename = fileInput.value;
            }
            var sName = document.getElementById('videoName').value;
            var sLocation = document.getElementById('imageLocation').value;
            var iCategory = document.getElementById('videoCategory').value;
            var sCategory = document.getElementById('videoCategory').options[document.getElementById('videoCategory').selectedIndex].text;
            let srandomid = Math.random().toString(36).substring(7);
            var vid = { Name: sName, Category: iCategory, ID: srandomid, Type: "Video", FileName: sfilename, Location: sLocation };
            Mfiles.push(vid);
            var markup = "<tr id='" + srandomid + "'><td>" + srandomid + "</td><td>" + sName + "</td><td>" + sCategory + "</td><td>" + sfilename + "</td><td class='text-center ws - nowrap'><a href='#' class='btn btn-danger' onclick='DeleteFile(\"" + srandomid + "\",\"" + sfilename +
                "\")'><span>Delete</span></a></td></tr>"; // Binding the file name
            $("#tVideos").append(markup);
            //chkatchtbl();
            $('#iVideos').val('');
        });

        $("form").submit(function (event) {
            event.preventDefault();
            var data = new FormData($('#form')[0]);
            for (var pair of formdata.entries()) {
                data.append(pair[0], pair[1]);
            }
            data.append('files', JSON.stringify(Mfiles));
            data.append('DRemove', JSON.stringify(DRemove));
            data.append('IRemove', JSON.stringify(IRemove));
            data.append('VRemove', JSON.stringify(VRemove));
            $('.theme-loader').show();
            $.ajax({
                url: '@Url.Content("~/")' + "Machines/Edit",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function () {
                        window.location.href = "/Machines/Index";
                },
                error: function() {
                    $('.theme-loader').hide();
                }
            });
        });
    });
</script>

@* Select all elements of "Select" on rigth side *@
<script type="text/javascript">
    $(document).ready(function () {
        $('#submit').click(function () {
            var selRes = document.getElementById("ResponsiblesSelected");
            for (i = 0; i < selRes.length; i++) {
                selRes.options[i].selected = 1;
            }
            var selDev = document.getElementById("DevicesSelected");
            for (i = 0; i < selRes.length; i++) {
                selDev.options[i].selected = 1;
            }
        });
    });
</script>

@* Move selections *@
<script type="text/javascript">
    $(document).ready(function () {
        $("#rightResponsibles").click(function () {
            $("#ResponsiblesSelect option:selected").remove().appendTo($("#ResponsiblesSelected"));
        })
        $("#leftResponsibles").click(function () {
            $("#ResponsiblesSelected option:selected").remove().appendTo($("#ResponsiblesSelect"));
        })
        $("#rightDevices").click(function () {
            $("#DevicesSelect option:selected").remove().appendTo($("#DevicesSelected"));
        })
        $("#leftDevices").click(function () {
            $("#DevicesSelected option:selected").remove().appendTo($("#DevicesSelect"));
        })
    });
</script>

@* Machine Photo Button and Preview *@
<script type="text/javascript">
    $(document).ready(function () {
        //Button triggers the photo file input
        document.getElementById('openPhoto').addEventListener('click', () => {
            document.getElementById('photo').click()
        });

        $("#photo").change(function () {
            //Get file name and put it into input
            var fileInput = document.getElementById('photo');
            for (i = 0; i < fileInput.files.length; i++) {
                var sfilename = fileInput.files[i].name;
                document.getElementById("photoFilePath").value = sfilename;
            }
            //Load file and show the preview
            if (typeof (FileReader) != "undefined") {
                var dvPreview = $("#divImageMediaPreview");
                dvPreview.html("");
                $($(this)[0].files).each(function () {
                    var file = $(this);
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var img = $("<img />");
                        img.attr("style", "height:300px; padding: 10px");
                        img.attr("src", e.target.result);
                        dvPreview.append(img);
                    }
                    reader.readAsDataURL(file[0]);
                });
            } else {
                alert("This browser does not support HTML5.");
            }
        });
    });
</script>

@* Hierarchies Control *@
<script type="text/javascript">
    $(document).ready(function () {
        $('#AreaID option:contains(@ViewData["SelectedArea"])').prop({ selected: true });
        $('#SectorID option:contains(@ViewData["SelectedSector"])').prop({ selected: true });
        $('#LineID option:contains(@ViewData["SelectedLine"])').prop({ selected: true });

        $('#AreaID').on('change', function() {
            var url = '@Url.Content("~/")' + "Machines/GetSector";
            $.getJSON(url, { AreaID: $("#AreaID :selected").val() }, function (data) {
                var items = '';
                $('#SectorID').html(items);
                $.each(data, function (i, sector) {
                    items += "<option value='" + sector.value + "'>" + sector.text + "</option>";
                });
                $('#SectorID').append("<option value='-1'>Select</option>");
                $('#SectorID').append(items);
                $('#LineID').html("");
                $('#LineID').append("<option value='-1'>Select</option>");
            });
        });

        $('#SectorID').on('change', function() {
            var url = '@Url.Content("~/")' + "Machines/GetLine";
            $.getJSON(url, { SectorID: $("#SectorID :selected").val() }, function (data) {
                var items = '';
                $('#LineID').html(items);
                $.each(data, function (i, line) {
                    items += "<option value='" + line.value + "'>" + line.text + "</option>";
                });
                $('#LineID').append("<option value='-1'>Select</option>");
                $('#LineID').append(items);
            });
        });
    });
</script>

<div class="row">
    <div class="col-md-10">
        <form asp-action="Create" id="form" class="form" method="post" enctype="multipart/form-data" asp-controller="Machines">
            <div class="card fb-card c-vitesco-gray">
                <div class="card-header c-vitesco-gray">
                    <i style="vertical-align:middle" class="ti-desktop c-vitesco-gray"></i>
                    <div class="d-inline-block">
                        <h2 style="color:white">@Localizer["Edit"].Value: @Model.Machine.Name</h2>
                    </div>
                    <hr style="border:1px solid white" />
                    <div class="d-inline-block">
                        <h2 style="color:white">@Localizer["General Data"].Value</h2>
                    </div>
                </div>
                <div class="card-block card-padding">
                    <div class="form-group">
                        <label class="control-label">@Localizer["Photo"].Value</label>
                        <div id="divImageMediaPreview"></div>
                        <div class="input-group">
                            <input id="photoFilePath" type="text" class="form-control" placeholder="@Localizer["No file chosen"].Value" readonly />
                            <span class="input-group-append input-group-button">
                                <button id="openPhoto" class="btn btn-default" type="button">
                                    @Localizer["Open Photo"].Value
                                </button>
                            </span>
                        </div>
                        <input type="file" id="photo" name="photo" accept="image/*" style="display:none" />
                    </div>
                    @* Save Machine ID *@
                    <div class="form-group">
                        <input asp-for="Machine.ID" style="display:none" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Machine.Name" class="control-label"></label>
                        <input asp-for="Machine.Name" class="form-control" />
                        <span asp-validation-for="Machine.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Machine.Description" class="control-label"></label>
                        <textarea asp-for="Machine.Description" class="form-control"></textarea>
                        <span asp-validation-for="Machine.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Machine.AssetNumber" class="control-label"></label>
                        <input asp-for="Machine.AssetNumber" class="form-control" />
                        <span asp-validation-for="Machine.AssetNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Machine.MES_Name" class="control-label"></label>
                        <input asp-for="Machine.MES_Name" class="form-control" />
                        <span asp-validation-for="Machine.MES_Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Machine.SAP_Name" class="control-label"></label>
                        <input asp-for="Machine.SAP_Name" class="form-control" />
                        <span asp-validation-for="Machine.SAP_Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Machine.WorkCenter" class="control-label"></label>
                        <input asp-for="Machine.WorkCenter" class="form-control" />
                        <span asp-validation-for="Machine.WorkCenter" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Machine.CostCenter" class="control-label"></label>
                        <input asp-for="Machine.CostCenter" class="form-control" />
                        <span asp-validation-for="Machine.CostCenter" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Machine.ServerPath" class="control-label"></label>
                        <input asp-for="Machine.ServerPath" class="form-control" />
                        <span asp-validation-for="Machine.ServerPath" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Machine.StartDate" class="control-label"></label>
                        <input type="datetime" asp-for="Machine.StartDate" value="@Model.Machine.StartDate.ToString("dd/MM/yyyy")" class="form-control" />
                        <span asp-validation-for="Machine.StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Machine.LastPreventiveMaintenance" class="control-label"></label>
                        <input type="datetime" asp-for="Machine.LastPreventiveMaintenance" value="@Model.Machine.LastPreventiveMaintenance.ToString("dd/MM/yyyy")" class="form-control" />
                        <span asp-validation-for="Machine.LastPreventiveMaintenance" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="card fb-card">
                <div style="background-color:#4B4B46;" class="card-header">
                    <div class="d-inline-block">
                        <h2 style="color:white">@Localizer["Documents"].Value</h2>
                    </div>
                </div>
                <div class="card-block card-padding">
                    <input id="iDocuments" type="file" style="display:none" />
                    <button style="float:right" class="btn btn-success" type="button" data-toggle="modal" data-target="#modalDocuments">@Localizer["Add Documents"].Value</button>
                    <br /><br />
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-vitesco" id="tDocuments">
                            <thead>
                                <tr class="thead-vitesco">
                                    <th>
                                        @Localizer["ID"].Value
                                    </th>
                                    <th>
                                        @Localizer["Name"].Value
                                    </th>
                                    <th>
                                        @Localizer["Category"].Value
                                    </th>
                                    <th>
                                        @Localizer["File Name"].Value
                                    </th>
                                    <th class="text-center">
                                        @Localizer["Delete"].Value
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.Machine.MachineDocuments)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.ID)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FileName)</td>
                                    <td class="text-center ws-nowrap">
                                        <a style="color:white" class="btn btn-danger" onclick="RemoveDocument(@item.ID)">@Localizer["Delete"].Value</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>

            <div class="card fb-card">
                <div style="background-color:#4B4B46;" class="card-header">
                    <div class="d-inline-block">
                        <h2 style="color:white">@Localizer["Images"].Value</h2>
                    </div>
                </div>
                <div class="card-block card-padding">
                    <input id="iImages" type="file" style="display:none" />
                    <button style="float:right" class="btn btn-success" type="button" data-toggle="modal" data-target="#modalImages">@Localizer["Add Images"].Value</button>
                    <br /><br />
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-vitesco" id="tImages">
                            <thead>
                                <tr class="thead-vitesco">
                                    <th>
                                        @Localizer["ID"].Value
                                    </th>
                                    <th>
                                        @Localizer["Name"].Value
                                    </th>
                                    <th>
                                        @Localizer["Category"].Value
                                    </th>
                                    <th>
                                        @Localizer["File Name"].Value
                                    </th>
                                    <th class="text-center">
                                        @Localizer["Delete"].Value
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.Machine.MachineImages)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.ID)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FileName)</td>
                                    <td class="text-center ws-nowrap">
                                        <a style="color:white" class="btn btn-danger" onclick="RemoveImage(@item.ID)">@Localizer["Delete"].Value</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>

            <div class="card fb-card">
                <div style="background-color:#4B4B46;" class="card-header">
                    <div class="d-inline-block">
                        <h2 style="color:white">@Localizer["Videos"].Value</h2>
                    </div>
                </div>
                <div class="card-block card-padding">
                    <input id="iVideos" type="file" style="display:none" />
                    <button style="float:right" class="btn btn-success" type="button" data-toggle="modal" data-target="#modalVideos">@Localizer["Add Videos"].Value</button>
                    <br /><br />
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-vitesco" id="tVideos">
                            <thead>
                                <tr class="thead-vitesco">
                                    <th>
                                        @Localizer["ID"].Value
                                    </th>
                                    <th>
                                        @Localizer["Name"].Value
                                    </th>
                                    <th>
                                        @Localizer["Category"].Value
                                    </th>
                                    <th>
                                        @Localizer["File Name"].Value
                                    </th>
                                    <th class="text-center">
                                        @Localizer["Delete"].Value
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.Machine.MachineVideos)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.ID)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FileName)</td>
                                    <td class="text-center ws-nowrap">
                                        <a style="color:white" class="btn btn-danger" onclick="RemoveVideo(@item.ID)">@Localizer["Delete"].Value</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>

            <div class="card fb-card">
                <div style="background-color:#4B4B46;" class="card-header">
                    <div class="d-inline-block">
                        <h2 style="color:white">@Localizer["Devices"].Value</h2>
                    </div>
                </div>
                <div class="card-block card-padding">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-5 col-sm-5">
                                <div class="input-icons">
                                    <i style="font-weight:700" class="bi-search icon"></i>
                                    <input id="FilterSelectDevice" style="text-align:center" type="text" class="form-control" placeholder="@Localizer["Filter"].Value">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <div class="input-icons">
                                    <i style="font-weight:700" class="bi-search icon"></i>
                                    <input id="FilterSelectedDevice" style="text-align:center" type="text" class="form-control" placeholder="@Localizer["Filter"].Value">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-sm-5">
                                <select id="DevicesSelect" asp-items="@ViewBag.ListSelectDevices" class="form-control" multiple></select>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <button type="button" id="rightDevices" class="btn btn-success btn-block bi-arrow-right"></button>
                                <button type="button" id="leftDevices" class="btn btn-success btn-block btn-danger bi-arrow-left"></button>
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <select id="DevicesSelected" asp-items="@ViewBag.ListSelectedDevices" asp-for="SelectedDevices" class="form-control" multiple></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card fb-card">
                <div style="background-color:#4B4B46;" class="card-header">
                    <div class="d-inline-block">
                        <h2 style="color:white">@Localizer["Responsibles"].Value</h2>
                    </div>
                </div>
                <div class="card-block card-padding">
                    <div class="form-group">
                        @*<label asp-for="Responsibles" class="control-label"></label>*@
                        <div class="row">
                            <div class="col-md-5 col-sm-5">
                                <div class="input-icons">
                                    <i style="font-weight:700" class="bi-search icon"></i>
                                    <input id="FilterSelectResponsible" style="text-align:center" type="text" class="form-control" placeholder="@Localizer["Filter"].Value">

                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <div class="input-icons">
                                    <i style="font-weight:700" class="bi-search icon"></i>
                                    <input id="FilterSelectedResponsible" style="text-align:center" type="text" class="form-control" placeholder="@Localizer["Filter"].Value">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-sm-5">
                                <select id="ResponsiblesSelect" asp-items="@ViewBag.ListSelectResponsibles" class="form-control" multiple></select>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <button type="button" id="rightResponsibles" class="btn btn-success btn-block bi-arrow-right"></button>
                                <button type="button" id="leftResponsibles" class="btn btn-success btn-block btn-danger bi-arrow-left"></button>
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <select id="ResponsiblesSelected" asp-items="@ViewBag.ListSelectedResponsibles" asp-for="SelectedResponsibles" class="form-control" multiple></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card fb-card">
                <div style="background-color:#4B4B46;" class="card-header">
                    <div class="d-inline-block">
                        <h2 style="color:white">@Localizer["Hierarchies"].Value</h2>
                    </div>
                </div>
                <div class="card-block card-padding">
                    <div class="form-group">
                        <label class="control-label">@Localizer["Area"].Value</label>
                        <select asp-for="Machine.AreaID" id="AreaID" class="form-control" asp-items="@(new SelectList(@ViewBag.ListAreas,"ID","Name"))"></select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">@Localizer["Sector"].Value</label>
                        <select asp-for="Machine.SectorID" id="SectorID" class="form-control" asp-items="@(new SelectList(@ViewBag.ListSectors,"ID","Name"))"></select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">@Localizer["Line"].Value</label>
                        <select asp-for="Machine.LineID" id="LineID" class="form-control" asp-items="@(new SelectList(@ViewBag.ListLines,"ID","Name"))"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <a style="width:150px;" class="btn btn-primary" asp-action="Index">@Localizer["Back to List"].Value</a>
                <input style="width:150px;float:right;" type="submit" id="submit" value="@Localizer["Edit"].Value" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modalDocuments" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Localizer["Add New Document"].Value</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">@Localizer["Name:"].Value</label>
                    <input id="documentName" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">@Localizer["Category:"].Value</label>
                    <select id="documentCategory" class="form-control" asp-items="@(new SelectList(@ViewBag.ListCategories,"ID","Name"))"></select>
                    @*<input id="documentCategory" class="form-control" />*@
                </div>
                <div class="form-group">
                    <label class="control-label">@Localizer["Type:"].Value</label>
                    <select id="documentLocation" class="form-control">
                        <option value="file">@Localizer["File"].Value</option>
                        <option value="path">@Localizer["Network File"].Value</option>
                        <option value="web">@Localizer["Web Link"].Value</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">File:</label>
                    <div class="input-group">
                        <span id="DGroup" class="input-group-btn">
                            <button id="openInputDocument" class="btn btn-default" type="button">
                                @Localizer["Open File"].Value
                            </button>
                        </span>
                        <input id="documentFilePath" type="text" class="form-control" placeholder="@Localizer["No file chosen"].Value" readonly />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="insertDocument" class="btn btn-success">@Localizer["Insert"].Value</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">@Localizer["Close"].Value</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalImages" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Localizer["Add New Image"].Value</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">@Localizer["Name:"].Value</label>
                    <input id="imageName" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">@Localizer["Category:"].Value</label>
                    <select id="imageCategory" class="form-control" asp-items="@(new SelectList(@ViewBag.ListCategories,"ID","Name"))"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">@Localizer["Type:"].Value</label>
                    <select id="imageLocation" class="form-control">
                        <option value="file">@Localizer["File"].Value</option>
                        <option value="path">@Localizer["Network File"].Value</option>
                        <option value="web">@Localizer["Web Link"].Value</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">@Localizer["File:"].Value</label>
                    <div class="input-group">
                        <span id="IGroup" class="input-group-btn">
                            <button id="openInputImage" class="btn btn-default" type="button">
                                @Localizer["Open File"].Value
                            </button>
                        </span>
                        <input id="imageFilePath" type="text" class="form-control" placeholder="@Localizer["No file chosen"].Value" readonly />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="insertImage" class="btn btn-success">@Localizer["Insert"].Value</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">@Localizer["Close"].Value</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalVideos" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Localizer["Add New Video"].Value</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">@Localizer["Name:"].Value</label>
                    <input id="videoName" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">@Localizer["Category:"].Value</label>
                    <select id="videoCategory" class="form-control" asp-items="@(new SelectList(@ViewBag.ListCategories,"ID","Name"))"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">@Localizer["Type:"].Value</label>
                    <select id="videoLocation" class="form-control">
                        <option value="file">@Localizer["File"].Value</option>
                        <option value="path">@Localizer["Network File"].Value</option>
                        <option value="web">@Localizer["Web Link"].Value</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">@Localizer["File:"].Value</label>
                    <div class="input-group">
                        <span id="VGroup" class="input-group-btn">
                            <button id="openInputVideo" class="btn btn-default" type="button">
                                @Localizer["Open File"].Value
                            </button>
                        </span>
                        <input id="videoFilePath" type="text" class="form-control" placeholder="@Localizer["No file chosen"].Value" readonly />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="insertVideo" class="btn btn-success">@Localizer["Insert"].Value</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">@Localizer["Close"].Value</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}