@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model MachinePortal.Models.Machine

@{
    var LoggedUserName = ViewData["UserName"];
    var LoggedUserID = ViewData["UserID"];
}

<script type="text/javascript">
    function removeComment(ID) {
        if (confirm("Do you want to remove comment?")) {
             $.ajax({
                type: 'POST',
                url: '@Url.Content("~/")' + "Machines/RemoveComment",
                data: { CommentID: ID , MachineID: document.getElementById('MachineID').value },
                success: function (data) {
                    $('#tComments').html(data)
                },
                async: true
             });
        }
    };
</script>

<div class="card fb-card c-vitesco-gray">
    <div class="card-header c-vitesco-gray">
        <i style="vertical-align:middle" class="ti-desktop c-vitesco-gray"></i>
        <div class="d-inline-block">
            <h2 style="color:white">@Localizer["Machine:"].Value @Model.Name</h2>
        </div>
        <hr style="border:1px solid white" />
        <div class="d-inline-block">
            <h2 style="color:white">@Localizer["General Data"].Value</h2>
        </div>
    </div>
    <div class="card-block card-padding">
        <dl class="dl-horizontal">
            <dt>
                @Localizer["Machine Photo"].Value
            </dt>
            <dd>
                <img src="@Html.DisplayFor(model => model.ImagePath)" width="200" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
</div>

<div class="card fb-card">
    <div style="background-color:#4B4B46;" class="card-header">
        <div class="d-inline-block">
            <h2 style="color:white">@Localizer["Comments"].Value</h2>
        </div>
    </div>
    <div class="card-block card-padding">
        <dl class="dl-horizontal">
            <div class="table-responsive">
                <table style="table-layout:fixed" class="table table-hover table-bordered table-vitesco02">
                    <button class="btn btn-success" style="float:right; margin-bottom: 20px" data-toggle="modal" data-target="#modalComments">@Localizer["Add New Comment"].Value</button>
                    <thead class="thead-vitesco02">
                        <tr>
                            <th width="62%">@Html.DisplayNameFor(model => model.MachineComments.First().Comment)</th>
                            <th width="15%">@Localizer["User Name"].Value</th>
                            <th width="15%">@Html.DisplayNameFor(model => model.MachineComments.First().Date)</th>
                            <th width="8%" class="text-center">@Localizer["Delete"].Value</th>
                        </tr>
                    </thead>
                    <tbody id="tComments">
                        @foreach (var item in Model.MachineComments)
                        {
                            <tr>
                                <td style="word-wrap:break-word;">@Html.DisplayFor(modelItem => item.Comment)</td>
                                <td>@Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                                <td class="text-center ws-nowrap"><button class="btn btn-danger" onclick="removeComment(@item.ID)">@Localizer["Delete"].Value</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </dl>
    </div>
</div>

<div class="modal fade" id="modalComments" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Localizer["Add New Comment"].Value</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <dt>
                    @Html.DisplayNameFor(model => model.MachineComments.First().User)
                </dt>
                <dd>
                    <input readonly id="commentAuthor" class="form-control" value="@LoggedUserName" />
                    <input id="commentUserID" style="display:none;" value="@LoggedUserID" />
                </dd>
                <br />
                <dt>
                    @Html.DisplayNameFor(model => model.MachineComments.First().Comment)
                </dt>
                <dd>
                    <textarea id="commentComment" class="form-control"></textarea>
                </dd>
            </div>
            <div class="modal-footer">
                <button type="button" id="insertComment" class="btn btn-success">@Localizer["Insert"].Value</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">@Localizer["Close"].Value</button>
            </div>
        </div>
    </div>
</div>

<div>
    <input type="hidden" asp-for="ID" />
    <input style="width:100px; font-weight:700;" type="button" value="@Localizer["Back"].Value" class="btn btn-primary" action="action" onclick="history.go(-1);" />
</div>

<input id="MachineID" style="display: none" value="@Html.DisplayFor(model => model.ID)" />