@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model MachinePortal.Models.Machine

@{
    var LoggedUserName = ViewData["UserName"];
    var LoggedUserID = ViewData["UserID"];
}

<div class="card fb-card c-vitesco-gray">
    <div class="card-header c-vitesco-gray">
        <i style="vertical-align:middle" class="ti-desktop c-vitesco-gray"></i>
        <div class="d-inline-block">
            <h2 style="color:white">@Localizer["Machine:"].Value @Model.Name</h2>
        </div>
        <hr style="border:1px solid white" />
        <div class="d-inline-block">
            <h2 style="color:white">@Localizer["General Data"].Value</h2>
        </div>
    </div>
    <div class="card-block card-padding">
        <dl class="dl-horizontal">
            <dt>
                @Localizer["Machine Photo"].Value
            </dt>
            <dd>
                <img src="@Html.DisplayFor(model => model.ImagePath)" width="200" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
</div>

<div class="card fb-card">
    <div style="background-color:#4B4B46;" class="card-header">
        <div class="d-inline-block">
            <h2 style="color:white">@Localizer["Devices"].Value</h2>
        </div>
    </div>
    <div class="card-block card-padding">
        <dl class="dl-horizontal">
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-vitesco02">
                    <thead class="thead-vitesco02">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.MachineDevices.First().Device.ImagePath)</th>
                            <th>@Html.DisplayNameFor(model => model.MachineDevices.First().Device.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.MachineDevices.First().Device.Brand)</th>
                            <th>@Html.DisplayNameFor(model => model.MachineDevices.First().Device.Model)</th>
                            <th>@Html.DisplayNameFor(model => model.MachineDevices.First().Device.PartNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.MachineDevices.First().Device.Description)</th>
                            <th>@Html.DisplayNameFor(model => model.MachineDevices.First().Device.Price)</th>
                            <th>@Html.DisplayNameFor(model => model.MachineDevices.First().Device.Supplier)</th>
                            <th class="text-center">@Localizer["Details"].Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MachineDevices)
                        {
                            <tr>
                                <td><img class="img-thumbnail" src="@Html.DisplayFor(modelItem => item.Device.ImagePath)" width="100" /></td>
                                <td>@Html.DisplayFor(modelItem => item.Device.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Device.Brand)</td>
                                <td>@Html.DisplayFor(modelItem => item.Device.Model)</td>
                                <td>@Html.DisplayFor(modelItem => item.Device.PartNumber)</td>
                                <td>@Html.DisplayFor(modelItem => item.Device.Description)</td>
                                <td>@Html.DisplayFor(modelItem => item.Device.Price)</td>
                                <td>@Html.DisplayFor(modelItem => item.Device.Supplier)</td>
                                <td class="text-center ws-nowrap">
                                    <a class="btn btn-primary" asp-controller="Devices" asp-action="Details" asp-route-id="@item.Device.ID">@Localizer["Details"].Value</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </dl>
    </div>
</div>

<div>
    <input type="hidden" asp-for="ID" />
    <input style="width:100px; font-weight:700;" type="button" value="@Localizer["Back"].Value" class="btn btn-primary" action="action" onclick="history.go(-1);" />
</div>

<input id="MachineID" style="display: none" value="@Html.DisplayFor(model => model.ID)" />