@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model MachinePortal.Models.Machine

@{
    var LoggedUserName = ViewData["UserName"];
    var LoggedUserID = ViewData["UserID"];
}

<div class="card fb-card c-vitesco-gray">
    <div class="card-header c-vitesco-gray">
        <i style="vertical-align:middle" class="ti-desktop c-vitesco-gray"></i>
        <div class="d-inline-block">
            <h2 style="color:white">@Localizer["Machine:"].Value @Model.Name</h2>
        </div>
        <hr style="border:1px solid white" />
        <div class="d-inline-block">
            <h2 style="color:white">@Localizer["General Data"].Value</h2>
        </div>
    </div>
    <div class="card-block card-padding">
        <dl class="dl-horizontal">
            <dt>
                @Localizer["Machine Photo"].Value
            </dt>
            <dd>
                <img src="@Html.DisplayFor(model => model.ImagePath)" width="200" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
</div>

<div class="card fb-card">
    <div style="background-color:#4B4B46;" class="card-header">
        <div class="d-inline-block">
            <h2 style="color:white">@Localizer["Videos"].Value</h2>
        </div>
    </div>
    <div class="card-block card-padding">
        <dl class="dl-horizontal">
            @foreach (MachineVideo video in Model.MachineVideos)
            {
            <dt>
                @Localizer["Name:"].Value <h5>@video.Name</h5>
            </dt>
            <dt>
                @Localizer["Category:"].Value <h5>@video.Category</h5>
            </dt>
                <dd>
                    @{string vidFullPath = video.Path + video.FileName;}
                    <video src="@Url.Content(vidFullPath)" controls="controls" width="640" height="360" loop />
                </dd>
            }
        </dl>
    </div>
</div>

<div>
    <input type="hidden" asp-for="ID" />
    <input style="width:100px; font-weight:700;" type="button" value="@Localizer["Back"].Value" class="btn btn-primary" action="action" onclick="history.go(-1);" />
</div>

<input id="MachineID" style="display: none" value="@Html.DisplayFor(model => model.ID)" />