@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model MachinePortal.Models.Machine

@* Check User Permissions *@
@using Microsoft.AspNetCore.Identity
@using MachinePortal.Areas.Identity.Data
@using Microsoft.EntityFrameworkCore
@inject UserManager<MachinePortalUser> UserManager
@inject IdentityContext identityContext
@{
    var user = await UserManager.GetUserAsync(User);
    List<string> permissions = new List<string>();
    if (user != null) { permissions = ((from obj in identityContext.UserPermission select obj).Include(p => p.Permission).Where(x => x.UserID == user.Id).ToList()).Select(p => p.Permission.PermissionName).ToList(); };
    if (!permissions.Contains("PageMachines")) { Context.Response.Redirect("/Home/AccessDenied"); };
}

@{
    var LoggedUserName = ViewData["UserName"];
    var LoggedUserID = ViewData["UserID"];
}

<div class="card fb-card c-vitesco-gray">
    <div class="card-header c-vitesco-gray">
        <i style="vertical-align:middle" class="ti-desktop c-vitesco-gray"></i>
        <div class="d-inline-block">
            <h2 style="color:white">@Localizer["Machine:"].Value @Model.Name</h2>
        </div>
        <hr style="border:1px solid white" />
        <div class="d-inline-block">
            <h2 style="color:white">@Localizer["General Data"].Value</h2>
        </div>
    </div>
    <div class="card-block card-padding">
        <dl class="dl-horizontal">
            <dt>
                @Localizer["Machine Photo"].Value
            </dt>
            <dd>
                <img src="@Html.DisplayFor(model => model.ImagePath)" width="200" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
</div>

<div class="card fb-card">
    <div style="background-color:#4B4B46;" class="card-header">
        <div class="d-inline-block">
            <h2 style="color:white">@Localizer["Documents"].Value</h2>
        </div>
    </div>
    <div class="card-block card-padding">
        <dl class="dl-horizontal">
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-vitesco02">
                    <thead class="thead-vitesco02">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.MachineDocuments.First().Name)</th>
                            <th>@Html.DisplayNameFor(model => model.MachineDocuments.First().Category)</th>
                            <th>@Html.DisplayNameFor(model => model.MachineDocuments.First().FileName)</th>
                            <th class="text-center">@Localizer["Link"].Value</th>
                            <th class="text-center">@Localizer["Open"].Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var document in Model.MachineDocuments)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => document.Name)</td>
                            <td>@Html.DisplayFor(modelItem => document.Category.Name)</td>
                            <td>@Html.DisplayFor(modelItem => document.FileName)</td>
                            <td class="text-center ws-nowrap">@Html.ActionLink("Download", "Download", new { filePath = document.Path, fileName = document.FileName, extension = document.Extension }, new { @class = "btn btn-primary" })</td>
                            <td class="text-center ws-nowrap"><a class="btn btn-success" href="@document.Path@document.Name" target="_blank">Open</a></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </dl>
    </div>
</div>

<div>
    <input type="hidden" asp-for="ID" />
    <input style="width:100px; font-weight:700;" type="button" value="@Localizer["Back"].Value" class="btn btn-primary" action="action" onclick="history.go(-1);" />
</div>

<input id="MachineID" style="display: none" value="@Html.DisplayFor(model => model.ID)" />