@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model MachinePortal.Models.Password

<script type="text/javascript">
    $(document).ready(function () {
        $("form").submit(function (event) {
            document.getElementById('dptName').value = document.getElementById('dpt').options[document.getElementById('dpt').selectedIndex].text;
        });
    });
</script>

<div class="modal-dialog">
    <div style="width:150%" class="modal-content">
        <form asp-action="EditPassword" asp-controller="Machines">
            <div class="modal-header c-vitesco-blue-03">
                <i style="color:white;font-size:30px;" class="bi-pencil c-vitesco-blue-03"></i>
                <h3 style="color:white;text-align:center;" class="modal-title">@Localizer["Edit Password"].Value</h3>
                <button style="color:white;margin-top:-8px;" type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="c-m-btn">×</span><span class="sr-only">@Localizer["Close"].Value</span></button>
            </div>
            <div class="modal-body">
                <div style="padding:10px;" class="form-horizontal">
                    <label>@Localizer["Machine"].Value</label>
                    <input readonly value="@ViewBag.MachineName" class="form-control" />
                    <input style="display:none" asp-for="MachineID" value="@ViewBag.MachineID" class="form-control" />
                    <br />
                    <label asp-for="EquipmentName"></label>
                    <input asp-for="EquipmentName" class="form-control" />
                    <br />
                    <label asp-for="EquipmentDescription"></label>
                    <input asp-for="EquipmentDescription" class="form-control" />
                    <br />
                    <label>@Localizer["Department"].Value</label>
                    <select id="dpt" asp-for="DepartmentID" class="form-control" asp-items="@(new SelectList(ViewBag.ListDepartments,"ID","Name"))"></select>
                    <input id="dptName" asp-for="DepartmentName" style="display:none" />
                    <br />
                    <label asp-for="Level"></label>
                    <input asp-for="Level" class="form-control" />
                    <br />
                    <label asp-for="User"></label>
                    <input asp-for="User" class="form-control" />
                    <br />
                    <label asp-for="Pass"></label>
                    <input asp-for="Pass" class="form-control" />
                    <input style="display:none" asp-for="ID" />
                </div>
            </div>
            <div class="modal-footer">
                <input style="width:120px;" type="button" value="@Localizer["Cancel"].Value" class="btn btn-primary mr-auto" data-dismiss="modal" />
                <input style="width:120px;float:right;" type="submit" value="@Localizer["Update"].Value" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>