@model IEnumerable<MachinePortal.Models.Line>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    function renderPartialEdit(ID) {
        $.ajax({
            url: '@Url.Action("AddPartialEdit", "Lines")',
            data: { id: ID},
            type: "POST",
            success: function(data) {
                $('#modalEdit').html(data);
            }
        });
    }

    function renderPartialDelete(ID) {
        $.ajax({
            url: '@Url.Action("AddPartialDelete", "Lines")',
            data: { id: ID},
            type: "POST",
            success: function(data) {
                $('#modalDelete').html(data);
            }
        });
    }
</script>

<div class="card fb-card c-vitesco-green-05">
    <div class="card-header c-vitesco-green-05">
        <i style="vertical-align:middle" class="ti-layout-list-thumb c-vitesco-green-05"></i>
        <div class="d-inline-block">
            <h2 style="color:white;">Hierarchies</h2>
        </div>
        <hr style="border:1px solid white" />
        <div class="d-inline-block">
            <h2 style="color:white">Lines</h2>
        </div>
    </div>
    <div class="card-block card-padding">
        <div>
            <table style="table-layout:auto;" class="table table-bordered table-vitesco">
                <thead class="thead-vitesco">
                    <tr>
                        <th width="20%">@Html.DisplayNameFor(model => model.ImagePath)</th>
                        <th width="60%">@Html.DisplayNameFor(model => model.Name)</th>
                        <th width="20%">Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (item.ImagePath != null)
                            {
                                <td><img class="img-thumbnail" src="@Html.DisplayFor(modelItem => item.ImagePath)" width="100" height="100" /></td>
                            }
                            else
                            {
                                <td><img class="img-thumbnail" src="~/resources/General/NoImage.jpg" width="100" height="100" /></td>
                            }
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>
                                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.ID">Open</a>
                                <button class="btn btn-primary" data-toggle="modal" onclick="renderPartialEdit(@item.ID)" data-target="#modalEdit">Edit</button>
                                <button class="btn btn-danger" data-toggle="modal" onclick="renderPartialDelete(@item.ID)" data-target="#modalDelete">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
        <a style="width:120px;" class="btn btn-primary" asp-controller="Lines" asp-action="Index">Back</a>
    </div>
</div>

<div class="modal" id="modalEdit" role="dialog">
</div>
<div class="modal" id="modalDelete" role="dialog">
</div>